// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container {
  //min-height: @header-height + 20;
  // in some other themes, @header-height is less than the min height set in responsive, set at 110px. plb 9-24-2014
}

#header-logo {
  max-width: 290px;   // constrain logo to containing box so that Logo isn't under display name
  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 240px;   // constrain logo to containing box so that Logo isn't under display name
  }
  margin-top: 10px;
}

#library-name-header{
  //font-size: 22px;
  //color: #B48C4E;
  font-variant: small-caps;
  //font-weight: bold;
  letter-spacing: -0.02em;
}

.header-login-button-mixin(@header-buttons-background-color); // to match logo. plb 3-31-2015

// mixin to select all the typical states of <a> like tags
.allLinkStates(@rules) {
  &, &:hover, &:active, &:visited {
    @rules();
  }
}

#browse-category-picker {
  .jcarousel-control-prev, .jcarousel-control-next {
    //background-color: #fff;
    //color: @selectedCategoryColor;
    &:active, &:hover {
      //color: @font-red;
      text-decoration: none;
    }
    .box-shadow(none);
  }
  .jcarousel-pagination a {
    &.active {
      background: @browseCarouselControlColor;
      // keep shadowing in place on active item
      .box-shadow(0 0 2px #4E443C);
    }
    @detached-outline-ruleset: {outline: none};
    .allLinkStates(@detached-outline-ruleset)
  }
}