// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container {
  //min-height: @header-height + 20;
  // in some other themes, @header-height is less than the min height set in responsive, set at 110px. plb 9-24-2014
}

#header-logo {
  margin-top: 7px;
  // half the header height minus half the image height
}

#library-name-header{
  //font-size: 22px;
  //color: #B48C4E;
  font-variant: small-caps;
  //font-weight: bold;
  letter-spacing: -0.02em;
}

.header-login-button-mixin(@header-buttons-background-color); // to match logo. plb 3-31-2015