//Variables Customizations for Aspencat theme
//@import (reference) "../../responsive/css/variables.less";

@aspencat-blue: #008E98;
@aspencat-yellow: #ECD82A;

@header-top-color: #fff; //Top color for background gradient in header
@header-middle-color: #fff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #fff; //Bottom color for background gradient in header
//@header-bottom-border-color: #5478A8;
//@footer-top-border-color: #608AC1;
@header-bottom-border-color: @aspencat-blue;
@footer-top-border-color: @aspencat-blue;
//@header-height: 80px;

//@home-search-top-color: #547DB5; //Top color for background gradient in header
@home-search-top-color: @aspencat-blue; //Top color for background gradient in header
//@home-search-bottom-color: #8FB4E8;
@sidebar-link-color: @aspencat-blue;
@menu-bar-background-color: @aspencat-blue;
@menu-bar-selected-background-color: @aspencat-yellow;

@home-search-bottom-color: lighten(@aspencat-blue, 5%);

@header-buttons-background-color : @aspencat-blue; // try lighter
//@header-buttons-background-color : #577FB7; // try lighter

//@library-display-name-color: #B48C4E;
//@library-display-name-font-size: 22px;
@library-display-name-color: @aspencat-blue;
@library-display-name-font-size: 26px;
//@library-display-name-font: @font-family-sans-serif-resp;
@library-display-name-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

@menu-bar-background-color: @home-search-bottom-color;


@category1MainColor: @aspencat-blue;
@categoryLineColor: @aspencat-yellow;
@categoryLineShadow: darken(@aspencat-yellow, 15%);
@selectedCategoryBorderColor: @categoryLineShadow;

@browseCarouselControlBackgroundColor: #d7dce3;
@browseCarouselControlColor: @aspencat-yellow;
