//Variables Customizations for Aspencat theme
@header-top-color: #8FB4E8; //Top color for background gradient in header
@header-middle-color: #608AC1; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #547DB5; //Bottom color for background gradient in header
@header-bottom-border-color: #5478A8;
@footer-top-border-color: #608AC1;
@header-height: 40px;

@home-search-top-color: #547DB5; //Top color for background gradient in header
@home-search-bottom-color: #8FB4E8;
