// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin();

//TODO rename @bottom-line-color ?
@bottom-line-color: @menu-bar-background-color;
@title-color: #000075;

//@explore-more-bar-height: 170px;
 // content height + extra for scrollbar
@explore-more-bar-border-width : 3px;
@explore-more-bar-image-height: 92px;

// Explore More SideBar
#explore-more-sidebar{
  background-color: @home-search-top-color;
  background: linear-gradient(to bottom, @home-search-top-color, @home-search-bottom-color);
}
#explore-more-header{
  padding: 10px 25px 5px 0;
  margin-bottom:5px;
  text-align: right;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
}
#explore-more-body{
  background-color: white;

  .sectionHeader {
    text-transform: uppercase;
    font-weight: bold;
    color: @title-color;
    border-bottom: 2px solid @bottom-line-color;
    margin-bottom: 10px;
  }
  .section {
    .row {
      margin-bottom: 10px;
    }
    margin-bottom: 20px;

  }
  .subsectionTitle {
    color: @title-color;

  }
  .subsection {

  }
}

.related-exhibit-images img {
  padding-left: 10px;
  padding-right: 10px;
}

// Styling for Explore More Bar in Search Results
.exploreMoreBar {
  border: solid @explore-more-bar-border-width @bottom-line-color;
  //border-top: solid @explore-more-bar-border-width @bottom-line-color;
  //border-bottom: solid @explore-more-bar-border-width @bottom-line-color;
  margin-bottom: 20px;
  margin-top: 20px;
  //height: @explore-more-bar-height;

  // TODO: these can be deleted when put in main styling
  padding-top: 0;
  padding-bottom: 0;

  .exploreMoreBarLabel {
    color: @menu-bar-color;
    background-color: @menu-bar-background-color;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap; // multiple word labels need to stay on the same line

  }

  // Explore More Bar Label on the Left Hand Side
  .label-left {
    float: left;
    //height: @explore-more-bar-height - 2 * @explore-more-bar-border-width;
    //height: 100%;
    // Mimic Sidebar Behaviour
    width: @vertical-menu-bar-width;
    color: @menu-bar-color;
    &, & img {
      background-color: @menu-bar-background-color;
    }
    .exploreMoreBarLabel {
      // Make Font Vertical
      position: absolute;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: 0 0;
      padding-right: 10px; // padding between icon and text (after transform)
      padding-left: 5px; // padding at bottom of text, after transform //TODO this may not be needed in the end
      line-height: @vertical-menu-bar-width; // matches width, after transform
    }
  }

  // Explore More Bar Label on the Top
  .label-top {
    color: @menu-bar-color;
    width: 100%;
    &, & img {
      background-color: @menu-bar-background-color;
      display: inline-block;
    }
    .exploreMoreBarLabel {
      padding-left: 10px;
      display: inline-block;
    }
  }

  // Items Container
  .exploreMoreItemsContainer {
    //max-height: @explore-more-bar-height - 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    // keep all items in a single row
    overflow-y: auto;  // scroll bar setting
    white-space: nowrap;
  }

  .explore-more-option {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

    .thumbnail {
      margin-bottom: 0;
      img { //TODO needed anymore?
        max-height:@explore-more-bar-image-height;
      }
      a {
        img{
          max-height:@explore-more-bar-image-height;
        }
      }
    }
    figcaption {
      margin-top: 4px;
      margin-bottom: 4px;
      font-weight: 100;
      //TODO: label should not go beyond the width of the icon; or a consistent width
    }
  }
}