/**
Variables for VuFind customization.  These can be overridden at the local theme level
*/
/**
Header Variables
**/
/**
Footer Variables
*/
/**
Search Box color
*/
/**
Sidebar font data
*/
.graph-bar {
  background-color: #088ec6;
}
.userreviewlink {
  background-color: #088ec6;
  color: #ffffff;
}
@media (min-width: 480px) {
  #side-bar .userreviewlink {
    width: 196px;
  }
}
.userreviewlink:hover {
  background-color: #2897c6;
  color: #ffffff;
}
.addtolistlink {
  background-color: #088ec6;
  color: #ffffff;
  width: 196px;
}
.addtolistlink:hover {
  background-color: #2897c6;
  color: #ffffff;
}
.full-record-tools {
  padding: 4px 35px;
}
.full-rating {
  padding: 10px 5px 4px;
}
.rating-graph {
  margin: 4px 0px;
}
.rating-graph .row {
  margin-top: 2px;
}
.title-rating {
  margin-top: 4px;
}
.share-tools {
  background-color: #e6e6e6;
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  color: #6e6f6f;
  border-bottom: 1px solid #adadad;
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
  display: inline-block;
}
.share-tools-label {
  padding-right: 10px;
}
.share-tools img {
  margin-left: 2px;
  margin-right: 2px;
}
#side-bar .share-tools {
  margin-top: 8px;
  width: 200px;
}
/** More Like this formatting */
#more-details-accordion .panel-group .panel + .panel {
  margin-top: 0px;
}
#more-details-accordion .panel-heading {
  padding: 5px 15px;
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  border-bottom: 1px solid #a1a1a1;
}
#more-details-accordion .active .panel-heading {
  background: linear-gradient(to bottom, #4dacde, #0f8fd2);
}
#more-details-accordion .panel-title {
  font-size: 13px;
  color: #333333;
  text-shadow: 1px 1px white;
}
#more-details-accordion .active .panel-title {
  color: white;
  text-shadow: 1px 1px #555555;
}
#more-details-accordion .panel-body {
  font-size: 12px;
  color: #333333;
  background-color: #eeeeee;
}
.novelist-similar-item {
  padding: 6px;
}
.novelist-similar-item-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}
.novelist-similar-item-reason {
  font-style: italic;
  margin-left: 6px;
}
