@import "variables.less";
/**
 Styling for home page elements
*/
#home-page-search{
  background: linear-gradient(to bottom, @home-search-top-color, @home-search-bottom-color);
}
#home-page-search-label{
  font-size:50px;
  color: white;
  text-shadow: 1px 1px @gray-light;
}