#home-page-search {
  background-color: #00a4e3;
  background: linear-gradient(to bottom, #00a4e3, #147ce2);
  padding: 20px 0 10px;
  margin-bottom: 5px;
}
#home-page-search-label {
  font-size: 35px;
  color: #fff;
  text-shadow: 1px 1px #999999;
}
#home-page-advanced-search-link {
  color: #fff;
}
#lookfor:-ms-input-placeholder {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: 0;
}
#lookfor::-webkit-input-placeholder {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: 0;
}
#lookfor:-moz-placeholder {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: 0;
}
#lookfor::-moz-placeholder {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: 0;
}
#lookfor::placeholder {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  border: 0;
}
.searchTypeHome {
  margin: 5px 0 0;
  color: #fff;
  background-color: #147ce2;
  border: none;
  width: 90% !important;
}
#searchSource {
  margin: 5px 0 0;
  color: #fff;
  background-color: #147ce2;
  border: none;
  width: 90%;
}
#keepFiltersSwitchLabel,
#advancedSearchLink {
  color: #fff;
  font-weight: normal;
}
.sidebar-bold-button {
  text-align: center;
  background-color: #7c7c7d;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: #fff;
  padding: 3px 0;
  margin-bottom: 15px;
}
.sidebar-bold-button a {
  color: #fff;
}
#home-page-login {
  background-color: #AFAFAF;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px #999999;
  padding: 5px;
  margin-bottom: 5px;
}
#home-page-login a {
  color: #fff;
}
#mobile-menu {
  position: absolute;
  top: 5px;
  right: 1px;
  padding: 0 5px;
}
#mobile-menu.sticky-mobile-menu {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 100;
}
#mobile-menu .account-icon,
#mobile-menu .logout-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}
#mobile-menu .account-icon:empty,
#mobile-menu .logout-icon:empty {
  width: 1em;
}
#mobile-menu .account-icon:before {
  content: "\e236";
}
#mobile-menu .logout-icon:before {
  content: "\e163";
}
#home-page-library-section {
  background-color: #eeeeee;
  padding: 15px 0;
  height: 100%;
}
.sidebar-button {
  text-align: center;
  background-color: #7c7c7d;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: #fff;
  padding: 3px 0;
  margin-bottom: 15px;
}
.sidebar-button a {
  color: #fff;
}
.sidebar-links .panel-group .panel + .panel {
  margin-top: 0;
}
.sidebar-links .panel-heading {
  padding: 5px 15px;
  background-color: #e7e7e7;
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  border-bottom: 1px solid #a1a1a1;
}
.sidebar-links .active .panel-heading {
  background-color: #4dacde;
  background: linear-gradient(to bottom, #4dacde, #2796d1);
}
.sidebar-links .panel-title {
  font-size: 14px;
  color: #333333;
  text-shadow: 1px 1px #fff;
}
.sidebar-links .active .panel-title {
  color: #fff;
  text-shadow: 1px 1px #555555;
}
.sidebar-links .panel-body {
  font-size: 13px;
  color: #333333;
  background-color: #eeeeee;
}
.sidebar-links .panel-body a,
.sidebar-links .panel-body a:visited,
.sidebar-links .panel-body a:hover {
  color: #428bca;
}
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-image: none;
}
.categoryValue img {
  max-width: 50px;
  height: 50px;
}
@media (max-width: 540px) {
  .formatCategoryLabel {
    float: none;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .formatCategoryLabel {
    float: none;
    clear: both;
  }
}
#lookfor {
  border-radius: 3px 0 0 3px;
  overflow-y: hidden;
  padding-top: 0.4em;
  height: 18px;
  line-height: 20px;
  min-height: 18px;
}
#search-actions.input-group-btn {
  vertical-align: top;
}
#descriptionPanelBody > .panel-body {
  white-space: pre-line;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
