@import "bootstrap/less/variables.less";
@import "variables.less";
/**
 Styling for home page elements
*/

#home-page-search{
  background-color: @home-search-top-color;
  background: linear-gradient(to bottom, @home-search-top-color, @home-search-bottom-color);
  padding: 20px 0 10px;
  margin-bottom:5px;
}
#home-page-search-label{
  font-size:35px;
  color: white;
  text-shadow: 1px 1px @gray-light;
}
#home-page-advanced-search-link{
  color: white;
}
#searchSource{
  padding: 5px 0;
  color: white;
  background-color: @home-search-bottom-color;
  border: none;
  width: 90%;
}
#keepFiltersSwitchLabel{
  color: white;
  font-weight: normal;
}
.sidebar-bold-button{
  text-align: center;
  background-color: #7c7c7d;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-bottom: 15px;
}
.sidebar-bold-button a{
  color: white;
}

#home-page-login{
  background-color: #AFAFAF;
  color:white;
  font-size:18px;
  text-shadow: 1px 1px @gray-light;
  padding: 5px;
  margin-bottom: 5px;
}
#home-page-login a{
  color:white;
}
#home-page-library-section{
  background-color: #eeeeee;
  padding: 15px 0px;
  height: 100%;
}
#home-page-hours-locations{
  text-align: center;
  background-color: #7c7c7d;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-bottom: 15px;
}
#home-page-hours-locations a{
  color: white;
}


/** Library Link Formatting */
.sidebar-links .panel-group .panel + .panel{
  margin-top: 0px;
}
.sidebar-links .panel-heading{
  padding: 5px 15px;
  background-color: #e7e7e7;
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  border-bottom: 1px solid #a1a1a1;
}
.sidebar-links .active .panel-heading{
  background-color: #4dacde;
  background: linear-gradient(to bottom, #4dacde, #0f8fd2);
}
.sidebar-links .panel-title{
  font-size: @sidebar-font-size;
  color: @gray-dark;
  text-shadow: 1px 1px white;
}
.sidebar-links .active .panel-title{
  color: white;
  text-shadow: 1px 1px @gray;
}
.sidebar-links .panel-body{
  font-size:13px;
  color: @gray-dark;
  background-color: #eeeeee;
}

/** Browse Formatting */
#home-page-browse-header{
  background-color: #d7dce3;
  padding-bottom: 15px;
}
#home-page-browse-content{
  background-color: #d7dce3;
}
#browse-carousel{

}
#browse-label{
  height: 5px;
  background-color: #bbd4e3;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: -15px;
}
.browse-label-text{
  background-color: #d7dce3;
  font-size: 22px;
  color: #3497d1;
  line-height: 5px;
  vertical-align: top;
  margin: auto;
  padding: 0 8px;
}
.browse-arrow{
  background-color: #9ea0a4;
  color: #d4d4d4;
  height: 100px;
  font-weight: bold;
  vertical-align: center;
  line-height: 90px;
  font-size: 22px;
}
#browse-category-picker .jcarousel-control-prev, #browse-category-picker .jcarousel-control-next{
  background-color: #9e9fa3;
  color: #d4d4d4;
  font-size: 50px;
}
.browse-category{
  color: white;
  font-size: @browse-category-font-size;
  padding: 10px;
  text-shadow: 1px 1px @gray;
  background-color: #5fb7db;
  height: 100px;
  margin-left: 4px;
  marging-right:4px;
}
.browse-category a{
  color: white;
}
.browse-category a div{
  height:80px;
}
.browse-category.selected{
  border:2px solid #3497d1;
}

.browse-category.category0{
  background-color: @category1MainColor;
  background: linear-gradient(to bottom, @category1MainColor, @category1MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category1MainColor 90%, @category1MainColor);
}
.browse-category.category1{
  background-color: @category2MainColor;
  background: linear-gradient(to bottom, @category2MainColor, @category2MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category2MainColor 90%, @category2MainColor);
}
.browse-category.category2{
  background-color: @category3MainColor;
  background: linear-gradient(to bottom, @category3MainColor, @category3MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category3MainColor 90%, @category3MainColor);
}
.browse-category.category3{
  background-color: @category4MainColor;
  background: linear-gradient(to bottom, @category4MainColor, @category4MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category4MainColor 90%, @category4MainColor);
}
.browse-category.category4{
  background-color: @category5MainColor;
  background: linear-gradient(to bottom, @category5MainColor, @category5MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category5MainColor 90%, @category5MainColor);
}
.browse-category.category5{
  background-color: @category6MainColor;
  background: linear-gradient(to bottom, @category6MainColor, @category6MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category6MainColor 90%, @category6MainColor);
}
.browse-category.category6{
  background-color: @category7MainColor;
  background: linear-gradient(to bottom, @category7MainColor, @category7MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category7MainColor 90%, @category7MainColor);
}
.browse-category.category7{
  background-color: @category8MainColor;
  background: linear-gradient(to bottom, @category8MainColor, @category8MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category8MainColor 90%, @category8MainColor);
}
.browse-category.category8{
  background-color: @category9MainColor;
  background: linear-gradient(to bottom, @category9MainColor, @category9MainColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @category9MainColor 90%, @category9MainColor);
}
#Search-Home #main-content-with-sidebar{
  //background-color: #d7dce3;
}
#home-page-browse-results{
  padding: 15px;
  background-color: white;
}
#selected-browse-label{
  background-color: white;
  background: linear-gradient(to bottom, white, white 44%, #bbd4e3 45%, #bbd4e3 55%, white 56%);
  margin-bottom: 5px;
}
.selected-browse-label-text{
  background-color: white;
  font-size: 20px;
  color: #0072bc;
  vertical-align: top;
  float: left;
  margin-left: 20px;
  padding: 0 8px;
}
.selected-browse-label-search{
  background-color: white;
  font-size: 20px;
  color: #0072bc;
  vertical-align: top;
  float: right;
  margin-right: 20px;
  padding: 0 8px;
}
.selected-browse-label-search a{
  color: #0072bc;
}
.browse-category:hover{
  background-color: lightskyblue;
  color: darkblue;
}
.browse-rating{
  margin-top: 5px;
}
#home-page-browse-thumbnails{
  -webkit-column-gap:   15px;
  -moz-column-gap:      15px;
  column-gap:           15px;
  @media(min-width: 0){
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
  }
  @media(min-width: @screen-sm-min){
    -webkit-column-count: 3;
    -moz-column-count:    3;
    column-count:         3;
  }
  @media(min-width: @screen-md-min){
    -webkit-column-count: 4;
    -moz-column-count:    4;
    column-count:         4;
  }
  @media(min-width: @screen-lg-min){
    -webkit-column-count: 6;
    -moz-column-count:    6;
    column-count:         6;
  }
}
.browse-thumbnail{
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  display: inline-block;
}
/*.browse-thumbnail{
  @media(max-width: @screen-md-min){
    height: 140px;
  }
  @media(min-width: @screen-sm-min){
    height: 240px;
  }
  @media(min-width: @screen-md-min){
    height: 240px;
  }
  position: relative;
}*/
.browse-thumbnail{
  text-align: center;
}
.browse-thumbnail img{
  width:100%;
}
#more-browse-results{
  background-color: #e6e6e6;
  color: #c7c9ca;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
}