/**
Variables for VuFind customization.  These can be overridden at the local theme level
*/
/**
Header Variables
**/
/**
Footer Variables
*/
/**
Home Page Variables
*/
/**
 Styling for home page elements
*/
#home-page-search {
  background-color: #00a4e3;
  background: linear-gradient(to bottom, #00a4e3, #147ce2);
  padding: 20px 0 10px;
  margin-bottom: 5px;
}
#home-page-search-label {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px #999999;
}
#home-page-advanced-search-link {
  color: white;
}
#searchSource {
  padding: 5px 0;
  color: white;
  background-color: #147ce2;
  border: none;
}
#keepFiltersSwitchLabel {
  color: white;
  font-weight: normal;
}
.sidebar-bold-button {
  text-align: center;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-bottom: 15px;
}
.sidebar-bold-button a {
  color: white;
}
#home-page-login {
  background-color: #AFAFAF;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px #999999;
  padding: 5px;
  margin-bottom: 5px;
}
#home-page-login a {
  color: white;
}
#home-page-library-section {
  background-color: #eeeeee;
  padding: 15px 0px;
  height: 100%;
}
#home-page-hours-locations {
  text-align: center;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-bottom: 15px;
}
#home-page-hours-locations a {
  color: white;
}
/** Library Link Formatting */
.sidebar-links .panel-group .panel + .panel {
  margin-top: 0px;
}
.sidebar-links .panel-heading {
  padding: 5px 15px;
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  border-bottom: 1px solid #a1a1a1;
}
.sidebar-links .active .panel-heading {
  background: linear-gradient(to bottom, #4dacde, #0f8fd2);
}
.sidebar-links .panel-title {
  font-size: 12px;
  color: #333333;
  text-shadow: 1px 1px white;
}
.sidebar-links .active .panel-title {
  color: white;
  text-shadow: 1px 1px #555555;
}
.sidebar-links .panel-body {
  font-size: 11px;
  color: #333333;
  background-color: #eeeeee;
}
/** Browse Formatting */
#home-page-browse-header {
  background-color: #d7dce3;
  padding-bottom: 15px;
}
#home-page-browse-content {
  background-color: #d7dce3;
}
#browse-label {
  height: 5px;
  background-color: #bbd4e3;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: -15px;
}
.browse-label-text {
  background-color: #d7dce3;
  font-size: 22px;
  color: #3497d1;
  line-height: 5px;
  vertical-align: top;
  margin: auto;
  padding: 0 8px;
}
.browse-arrow {
  background-color: #9ea0a4;
  color: #d4d4d4;
  height: 100px;
  font-weight: bold;
  vertical-align: center;
  line-height: 90px;
  font-size: 22px;
}
#browse-category-picker .jcarousel-control-prev,
#browse-category-picker .jcarousel-control-next {
  background-color: #9e9fa3;
  color: #d4d4d4;
  font-size: 50px;
}
.browse-category {
  color: white;
  font-size: 24px;
  padding: 10px;
  text-shadow: 1px 1px #555555;
  background-color: #5fb7db;
  height: 100px;
  margin-left: 4px;
  marging-right: 4px;
}
.browse-category a {
  color: white;
}
.browse-category a div {
  height: 80px;
}
.browse-category.category0 {
  background-color: #186180;
  background: linear-gradient(to bottom, #186180, #186180 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #186180 90%, #186180);
}
.browse-category.category1 {
  background-color: #0d8ec7;
  background: linear-gradient(to bottom, #0d8ec7, #0d8ec7 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0d8ec7 90%, #0d8ec7);
}
.browse-category.category2 {
  background-color: #16a0db;
  background: linear-gradient(to bottom, #16a0db, #16a0db 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #16a0db 90%, #16a0db);
}
.browse-category.category3 {
  background-color: #2ca7db;
  background: linear-gradient(to bottom, #2ca7db, #2ca7db 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #2ca7db 90%, #2ca7db);
}
.browse-category.category4 {
  background-color: #37aadb;
  background: linear-gradient(to bottom, #37aadb, #37aadb 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #37aadb 90%, #37aadb);
}
.browse-category.category5 {
  background-color: #4db1db;
  background: linear-gradient(to bottom, #4db1db, #4db1db 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #4db1db 90%, #4db1db);
}
.browse-category.category6 {
  background-color: #5fb7db;
  background: linear-gradient(to bottom, #5fb7db, #5fb7db 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #5fb7db 90%, #5fb7db);
}
.browse-category.category7 {
  background-color: #83c1db;
  background: linear-gradient(to bottom, #83c1db, #83c1db 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #83c1db 90%, #83c1db);
}
.browse-category.category8 {
  background-color: #99c8db;
  background: linear-gradient(to bottom, #99c8db, #99c8db 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #99c8db 90%, #99c8db);
}
#home-page-browse-results {
  padding: 15px;
  background-color: white;
}
#selected-browse-label {
  background: linear-gradient(to bottom, #ffffff, #ffffff 44%, #bbd4e3 45%, #bbd4e3 55%, #ffffff 56%);
  margin-bottom: 5px;
}
.selected-browse-label-text {
  background-color: white;
  font-size: 20px;
  color: #0072bc;
  vertical-align: top;
  float: left;
  margin-left: 20px;
  padding: 0 8px;
}
.selected-browse-label-search {
  background-color: white;
  font-size: 20px;
  color: #0072bc;
  vertical-align: top;
  float: right;
  margin-right: 20px;
  padding: 0 8px;
}
.selected-browse-label-search a {
  color: #0072bc;
}
.browse-category:hover {
  background-color: lightskyblue;
  color: darkblue;
}
.browse-rating {
  position: absolute;
  bottom: 4px;
}
@media (max-width: 992px) {
  .browse-rating {
    left: 7px;
  }
}
@media (min-width: 992px) {
  .browse-rating {
    left: 14px;
  }
}
.browse-thumbnail {
  position: relative;
}
@media (max-width: 992px) {
  .browse-thumbnail {
    height: 140px;
  }
}
@media (min-width: 768px) {
  .browse-thumbnail {
    height: 240px;
  }
}
@media (min-width: 992px) {
  .browse-thumbnail {
    height: 240px;
  }
}
@media (min-width: 768px) {
  .browse-thumbnail img {
    width: 100%;
  }
}
#more-browse-results {
  background-color: #e6e6e6;
  color: #c7c9ca;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
}
