/**
Variables for VuFind customization.  These can be overridden at the local theme level
*/
/**
Header Variables
**/
/**
Footer Variables
*/
/**
Home Page Variables
*/
/**
 Styling for home page elements
*/
#home-page-search {
  background: linear-gradient(to bottom, #229adc, #147ce2);
}
#home-page-search-label {
  font-size: 50px;
  color: white;
  text-shadow: 2px ;
}
