#explore-more-sidebar {
  background-color: #00a4e3;
  background: -webkit-linear-gradient(top, #00a4e3, #147ce2);
  background: linear-gradient(to bottom, #00a4e3, #147ce2);
}
#explore-more-header {
  padding: 10px 25px 5px 0;
  margin-bottom: 5px;
  text-align: right;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
}
#explore-more-body {
  background-color: white;
}
#explore-more-body .sectionHeader {
  text-transform: uppercase;
  font-weight: bold;
  color: #000075;
  border-bottom: 2px solid #00b3ee;
  margin-bottom: 10px;
}
#explore-more-body .section {
  margin-bottom: 20px;
}
#explore-more-body .section .row {
  margin-bottom: 10px;
}
#explore-more-body .subsectionTitle {
  color: #000075;
}
.related-exhibit-images img {
  padding-left: 10px;
  padding-right: 10px;
}
.exploreMoreBar {
  border-top: solid 3px #00b3ee;
  border-bottom: solid 3px #00b3ee;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.exploreMoreBar .explore-more-option {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.exploreMoreBar .explore-more-option .thumbnail {
  margin-bottom: 0px;
}
.exploreMoreBar .explore-more-option figcaption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 100;
}
.openseadragon {
  display: block;
  width: 100%;
  height: 500px;
}
.openseadragon canvas {
  background-color: #000 !important;
  /* should be replaced with OpenSeadragon setting */
}
.openseadragon-highlight {
  background-color: #F00;
  opacity: 0.5;
}
