/**
 * Additional styling specific to the results list.
 *
 * If a rule is used as part of both a record and the results list it should be defined in record.less
 */

.result{
  border: 1px solid #EEEEEE;
  padding: 10px 5px 15px;
}
.result.alt{
  background-color: #F9F9F9;
}
.result-value{
  @media (max-width: 480px) {
    margin-left: 8px !important;
  }
}
.resultDetails{
  font-size: 85%;
}
.resultDetails .result-label{
  font-weight: bold;
  color: graytext;
}
.resultDetails .row-fluid [class*="span"]{
  min-height: 16px;
}