/**
 * Additional styling specific to the results list.
 *
 * If a rule is used as part of both a record and the results list it should be defined in record.less
 */
.result {
  border-bottom: 2px solid #d5d6da;
  padding: 10px 5px 15px;
  font-size: 12px;
}
@media (max-width: 480px) {
  .result-value {
    margin-left: 8px !important;
  }
}
.resultDetails {
  font-size: 85%;
}
.result-label {
  font-weight: bold;
  color: #44484a;
}
#formatCategories {
  border-bottom: 3px solid #d5d6da;
  padding-top: 3px;
  padding-bottom: 8px;
}
@media (max-width: 480px) {
  #formatCategories {
    display: none;
  }
}
.top-facet {
  margin-bottom: 10px;
}
.facetCol {
  display: inline-block;
  padding: 15px;
  width: 120px;
  vertical-align: top;
}
.facetValue {
  padding: 0 0 0 30px;
  color: #888888;
  font-size: small;
}
.facetValue a {
  color: #888888;
}
.facetValue:first-of-type {
  margin-top: 3px;
}
.facetValue:last-of-type {
  margin-bottom: 3px;
}
#remove-search-label {
  text-align: center;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-top: 20px;
}
#narrow-search-label {
  text-align: center;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-top: 20px;
}
.facetTitle {
  background: linear-gradient(to bottom, #e8e8e8, #d7d7d7);
  color: #888888;
  text-shadow: 1px 1px #fcfcfc;
  padding: 8px 30px 6px 30px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #adadad;
}
.categoryValue {
  font-size: smaller;
}
.formatCategoryLabel {
  vertical-align: center;
  color: #8d929a;
  margin-top: 3px;
}
.formatCategoryLabel a {
  color: #8d929a;
}
#results-sort-label {
  text-align: center;
  background: linear-gradient(to bottom, #7c7c7d, #3d4244);
  color: white;
  padding: 3px 0px;
  margin-top: 20px;
}
#results-sort {
  width: 80%;
  margin: 5px 10%;
}
.result-head {
  font-size: smaller;
  color: #0d8ec6;
}
.replacement-search-info-text {
  color: #888888;
}
.result-title {
  font-weight: bold;
  font-size: 18px;
}
.result-index {
  font-size: 18px;
}
.result-tools-horizontal {
  margin-top: 6px;
  margin-left: 30px;
}
.result-tools-horizontal .btn {
  background: linear-gradient(to bottom, #909090, #686b6c);
  color: white;
}
.related-manifestations {
  margin-top: 3px;
}
.manifestation-toggle {
  display: inline-block;
  background-color: #777272;
  padding: 3px;
  color: white;
  font-weight: bold;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 14px;
}
.manifestation-toggle-placeholder {
  display: inline-block;
  padding: 3px;
  width: 20px;
  height: 18px;
}
.manifestation-toggle {
  content: "-";
}
.manifestation-toggle.collapsed {
  content: "+";
}
.related-manifestation {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px dotted #d3d3d3;
}
.related-manifestations-header {
  border-bottom: 1px solid #d3d3d3;
}
.manifestation-actions .btn {
  background-color: #088ec6;
  color: white;
}
.related-manifestations {
  margin-bottom: 5px;
}
