/**
Variables for VuFind customization.  These can be overridden at the local theme level
*/
/**
Header Variables
**/
/**
Footer Variables
*/
/**
Search Box color
*/
/**
Sidebar font data
*/
/*@category2MainColor: #16a0db;
@category3MainColor: #2ca7db;
@category4MainColor: #37aadb;
@category5MainColor: #4db1db;
@category6MainColor: #5fb7db;
@category7MainColor: #83c1db;
@category8MainColor: #99c8db;
@category9MainColor: #186180;*/
