/* Print CSS Definitions for VuFind.
   Chris Barr, August 2008
*/

body {
	 font:11px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
}

#main-content{
	width:900px;
   z-index:30000;
}

#holdingsSummary, #holdingsSummary.reserve {
	margin:0;
	background: transparent;
	border: 0;
	text-align:left;
	width: auto;
}
.holdSection{
	border: 1px solid #949494;
}

.myAccountTable{
	border: 1px solid #949494;
}
.myAccountTable td, .myAccountTable th{
	border: 1px solid #949494;
}
.myAccountTable th{
	border: 1px solid #949494;
}
.myAccountTable thead{
	border: 1px solid #949494;
}


#hd, #ft, #siteNavBackground, .currentSearch, .sectionSub, .tools, .backtosearch, #tabnav, .submenu, .add, .toggle, .fav, .searchtools, .pagination {visibility: hidden; height:0;overflow: hidden;}

#sidebar {
	border-top: solid #999 thin;
	border-bottom: solid #999 thin;
	display: none;
	z-index:100;
}

a {color:#000; text-decoration: none; border: none;}
img{border: none;}

.result {
	border-bottom: 1px solid #eee;
	padding:4px 0px;
}
.record {
    padding:0 1.5em;
}
.resultItemLine1{
    font-size: 14px;
    font-weight: bold;
}
.resultItemLine2{
    font-size: 12px;
    font-weight: bold;
}

/* Citation Table */
.citation {
padding-bottom: 1em;
}
.citation th {
  text-align:left;
  color:#666;
  padding:.3em 0 .3em 0;
  border-bottom: 1px solid #ccc;
}
.citation tr {
  
}
.citation td {
  padding:.3em 0 .3em 1em;
  border-bottom: 1px solid #ccc;
}
.citation tr, .citation td {
  vertical-align:top;
}

.alignleft {
	float: left;
	padding: 4px;
	margin: 0 0 2px 15px;
	}
	
	
/* Icon Classes */

#stabnav a.catalog {
  background-image:url(/images/silk/book.png);
  background-repeat:no-repeat;
  background-position: left; 
  padding-left:20px;
}
#stabnav a.articles {
  background-image:url(/images/articles.png);
  background-repeat:no-repeat;
  background-position: left; 
  padding-left:20px;
}

/* Icon Classes */

.available {
 color:#009900;
}
.checkedout {
  color:#cc0000;
}

/* Modify display for printouts */
.searchform, .loginOptions, .logoutOptions, .selectTitle, .requestSelectedItems, .breadcrumbs{
	display: none;
}
.clearer {
    display: block;
    clear: both;
    height: 2px;
}


.stepcarousel{
position: relative; /*leave this value alone*/
border: 0px solid black;
overflow: scroll; /*leave this value alone*/
width: 510px; /*Width of Carousel Viewer itself*/
height: 175px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .serieslist{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .item{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 10px; /*margin around each panel*/
width: 90px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

/* Hide facets */
.sidegroup{
  display: none;
    z-index:100;
}

/* Hide user info */
.searchcontent .alignright{
	display: none;
	  z-index:100;
}

#searchTools, #searchInfo, #searchResultTopTools, #formatCategories, .formatCategories, .searchheader, .searchstars, .correction, .requestSelectedItems, .authorbox, .godeeper, .toolbar, .amazonlink, .listbutton, .listResultImage, .selectAllControls, .recordcoverWrapper, .titleDetails, .requestThisLink, .ratingslink, .saveToListLink  {
	display: none !important;
	  z-index:100;
}

.imageColumn{
  display: none !important;
}
.resultDetails{
  width: 625px;
}
#seriesplaceholder, #reviewtab, #readertab, #ratingsummary, #staffview, #listTopButtons{
	display:none !important;
	  z-index:100;
}
#header, #library-footer, #library-footer-links{
	display: none;
}
.resultActions{
	display: none;
}
#listActionsBottom{
	display: none;
}