@CHARSET "ISO-8859-1";

input[type="checkbox"] {

}

.styled {
	
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(/interface/themes/wcpl/images/checkbox2b.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}

#searchInfo{
	text-align: center;
	font-size: 12px; 
	margin-bottom: 10px;
	border-style:solid;
	border-width:thin;
	border-color:#2f4790;
	padding-right:5px;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
}
.selectTitle{
	display: inline-block;
	vertical-align: top;
	width: 17px;
	
	zoom: 1;
	*display: inline;
}
.imageColumn{
	display: inline-block;
	vertical-align: top;
	width: 110px;
	text-align: center;
	
	zoom: 1;
	*display: inline;
}
.imageColumn .listResultImage{
	max-width: 100px;
	padding-bottom: 4px;
}
.resultDetails{
	display: inline-block;
	vertical-align: top;
	border: 0px solid #000000;
	width: 345px;
	
	zoom: 1;
	*display: inline;
}

.resultActions{
	display: inline-block;
	vertical-align: top;
	border: 0px solid #000000;
	width: 150px;
	
	zoom: 1;
	*display: inline;
	text-align: center;
	position: relative;
}

.ratings{
  margin-top: 5px;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	
	*display: inline;
}

#searchResultTopTools{
	float: right;
	max-width: 50%;
	text-align: right;
}
.searchtool-top{
	font-size: 10px;
	display: inline-block;
	margin-top: 1-px;
	
	zoom: 1;
	*display: inline;
}
#searchResultTopToolLinks{
	margin-top: 20px;
}

.holdingsSummary{
	height: 4.5em;
}
a.title
{
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;
    COLOR: #2f4790;
    text-decoration: none;
}
a.title:hover
{
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;
    text-decoration: underline;;
}
a.ratingslink
{
    font-size: 10px;
    font-weight: normal;
    COLOR: #2f4790;
    text-decoration: none
}
a.ratingslink:hover
{
    font-size: 10px;
    font-weight: normal;
    text-decoration: none
}
a.toolslink
{
    font-size: 10px;
    font-weight: normal;
    COLOR: #145690;
    text-decoration: none
}
a.toolslink:hover
{
    font-size: 10px;
    font-weight: normal;
    text-decoration: none
}
hr.toprule{
  color: #5d8eac;
  background-color: #5d8eac;
  height: 1px;
  }