// Core variables and mixins
@import "../../responsive/css/variables.less";
@import "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container{
  background-image: url('/interface/themes/western_resp/images/header_background.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 120px;
  padding: 0;
}
#header-wrapper{
  background: linear-gradient(to bottom, #B5192B 0%, #D82538 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.facetTitle{
  background: #f8f8f8;
}

.facetTitle:hover{
  background-color: #9d162b;
  background: -moz-linear-gradient(left center , #9d162b 0%, #d81f3c 100%);
  color: white;
  text-shadow: none;
}