// Core variables and mixins
@import "../../responsive/css/variables.less";
@import "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container{
  background-image: url('/interface/themes/western_resp/images/header_background.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 120px;
  padding: 0;
}
#header-wrapper{
  background: linear-gradient(to bottom, #B5192B 0%, #D82538 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
