# Specific locations within VuFind to exclude from git #
# Files are excluded either because                    #
#  - they contain sensitive data (i.e. passwords)      #
#  - they can change at runtime                        #
########################################################
sites/*/backup
!sites/default/backup
sites/default/solr5/docs/*
sites/default/solr5/example/*
sites/default/solr5/licenses/*
sites/default/solr5/logs/*
sites/default/solr5/tmp/*
sites/default/solr5/server/logs/*
sites/default/solr5/server/tmp/*
sites/default/solr5/server/solr/configsets/*
vufind/web/interface/cache/*
vufind/web/interface/compile/*
vufind/web/phpinfo.php
vufind/web/images/fiveStar/*
vufind/web/images/charts/*
vufind/web/repository_images/*
vufind/web/files/medium/*
vufind/web/files/thumbnail/*
vufind/web/files/original/*
vufind/web/google*.html
vufind/web/getWorkIdUpdates.php
tests/selenium/*
tests/conf/config.ini
data-import
config.pwd.ini
*.csv
author_authorities.properties.temp
author_authorities.v1.properties
hcl_solr_bib_export.properties
horizon_export.properties

# Compiled source #                                                                                   
###################
*.com
*.class
*.o
*.so

# Unneeded files that are large or built at runtime #
#####################################################
III_Telnet_Extract.pl
LexileTitles.txt

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.sqlite

# MARC records #
################
*.mrc
*.marc

# IDE Files #
#################
.buildpath
.project
.classpath
org.eclipse.*.prefs
*.iml
.idea/
.settings/
out/

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
~$*.docx
~$*.doc

# Dreamweaver Files #
#####################
[_]notes/
*.LCK

# File-watcher mishaps #
########################
*.min.min.js

# Nashville Symbolic Links #
############################
sites/galacto.library.nashville.org
sites/limitless.library.nashville.org
sites/limitlesst.library.nashville.org
sites/nplencore.library.nashville.org
sites/pika.library.nashville.org
sites/school.library.nashville.org
sites/schoold.library.nashville.org
sites/schoolt.library.nashville.org
sites/170.190.30.108
sites/170.190.30.208
sites/100.library.nashville.org
sites/100d.library.nashville.org
sites/100t.library.nashville.org
sites/105.library.nashville.org
sites/105d.library.nashville.org
sites/105t.library.nashville.org
sites/110.library.nashville.org
sites/110d.library.nashville.org
sites/110t.library.nashville.org
sites/111.library.nashville.org
sites/111t.library.nashville.org
sites/115.library.nashville.org
sites/115t.library.nashville.org
sites/120.library.nashville.org
sites/120t.library.nashville.org
sites/122.library.nashville.org
sites/122t.library.nashville.org
sites/130.library.nashville.org
sites/130t.library.nashville.org
sites/135.library.nashville.org
sites/135t.library.nashville.org
sites/142.library.nashville.org
sites/142t.library.nashville.org
sites/145.library.nashville.org
sites/145t.library.nashville.org
sites/152.library.nashville.org
sites/152t.library.nashville.org
sites/165.library.nashville.org
sites/165t.library.nashville.org
sites/175.library.nashville.org
sites/175t.library.nashville.org
sites/181.library.nashville.org
sites/181t.library.nashville.org
sites/182.library.nashville.org
sites/182t.library.nashville.org
sites/184.library.nashville.org
sites/184t.library.nashville.org
sites/185.library.nashville.org
sites/185t.library.nashville.org
sites/200.library.nashville.org
sites/200t.library.nashville.org
sites/205.library.nashville.org
sites/205t.library.nashville.org
sites/211.library.nashville.org
sites/211t.library.nashville.org
sites/215.library.nashville.org
sites/215t.library.nashville.org
sites/225.library.nashville.org
sites/225t.library.nashville.org
sites/230.library.nashville.org
sites/230t.library.nashville.org
sites/235.library.nashville.org
sites/235t.library.nashville.org
sites/238.library.nashville.org
sites/238t.library.nashville.org
sites/240.library.nashville.org
sites/240t.library.nashville.org
sites/242.library.nashville.org
sites/242t.library.nashville.org
sites/252.library.nashville.org
sites/252t.library.nashville.org
sites/260.library.nashville.org
sites/260t.library.nashville.org
sites/265.library.nashville.org
sites/265t.library.nashville.org
sites/270.library.nashville.org
sites/270t.library.nashville.org
sites/275.library.nashville.org
sites/275t.library.nashville.org
sites/280.library.nashville.org
sites/280t.library.nashville.org
sites/285.library.nashville.org
sites/285t.library.nashville.org
sites/290.library.nashville.org
sites/290t.library.nashville.org
sites/295.library.nashville.org
sites/295t.library.nashville.org
sites/308.library.nashville.org
sites/308t.library.nashville.org
sites/310.library.nashville.org
sites/310t.library.nashville.org
sites/315.library.nashville.org
sites/315t.library.nashville.org
sites/320.library.nashville.org
sites/320t.library.nashville.org
sites/325.library.nashville.org
sites/325t.library.nashville.org
sites/330.library.nashville.org
sites/330t.library.nashville.org
sites/335.library.nashville.org
sites/335t.library.nashville.org
sites/340.library.nashville.org
sites/340t.library.nashville.org
sites/345.library.nashville.org
sites/345t.library.nashville.org
sites/350.library.nashville.org
sites/350t.library.nashville.org
sites/355.library.nashville.org
sites/355t.library.nashville.org
sites/360.library.nashville.org
sites/360t.library.nashville.org
sites/365.library.nashville.org
sites/365t.library.nashville.org
sites/370.library.nashville.org
sites/370t.library.nashville.org
sites/375.library.nashville.org
sites/375t.library.nashville.org
sites/380.library.nashville.org
sites/380t.library.nashville.org
sites/395.library.nashville.org
sites/395t.library.nashville.org
sites/397.library.nashville.org
sites/397t.library.nashville.org
sites/400.library.nashville.org
sites/400t.library.nashville.org
sites/405.library.nashville.org
sites/405t.library.nashville.org
sites/410.library.nashville.org
sites/410t.library.nashville.org
sites/415.library.nashville.org
sites/415t.library.nashville.org
sites/420.library.nashville.org
sites/420t.library.nashville.org
sites/422.library.nashville.org
sites/422t.library.nashville.org
sites/434.library.nashville.org
sites/434t.library.nashville.org
sites/435.library.nashville.org
sites/435t.library.nashville.org
sites/440.library.nashville.org
sites/440t.library.nashville.org
sites/448.library.nashville.org
sites/448t.library.nashville.org
sites/450.library.nashville.org
sites/450t.library.nashville.org
sites/451.library.nashville.org
sites/451t.library.nashville.org
sites/452.library.nashville.org
sites/452t.library.nashville.org
sites/455.library.nashville.org
sites/455t.library.nashville.org
sites/460.library.nashville.org
sites/460t.library.nashville.org
sites/465.library.nashville.org
sites/465t.library.nashville.org
sites/470.library.nashville.org
sites/470t.library.nashville.org
sites/475.library.nashville.org
sites/475t.library.nashville.org
sites/485.library.nashville.org
sites/485t.library.nashville.org
sites/495.library.nashville.org
sites/495t.library.nashville.org
sites/496.library.nashville.org
sites/496t.library.nashville.org
sites/497.library.nashville.org
sites/497t.library.nashville.org
sites/498.library.nashville.org
sites/498t.library.nashville.org
sites/500.library.nashville.org
sites/500t.library.nashville.org
sites/505.library.nashville.org
sites/505t.library.nashville.org
sites/510.library.nashville.org
sites/510t.library.nashville.org
sites/520.library.nashville.org
sites/520t.library.nashville.org
sites/522.library.nashville.org
sites/522t.library.nashville.org
sites/530.library.nashville.org
sites/530t.library.nashville.org
sites/532.library.nashville.org
sites/532t.library.nashville.org
sites/535.library.nashville.org
sites/535t.library.nashville.org
sites/540.library.nashville.org
sites/540t.library.nashville.org
sites/545.library.nashville.org
sites/545t.library.nashville.org
sites/550.library.nashville.org
sites/550t.library.nashville.org
sites/551.library.nashville.org
sites/551t.library.nashville.org
sites/552.library.nashville.org
sites/552t.library.nashville.org
sites/555.library.nashville.org
sites/555t.library.nashville.org
sites/560.library.nashville.org
sites/560t.library.nashville.org
sites/562.library.nashville.org
sites/562t.library.nashville.org
sites/563.library.nashville.org
sites/563t.library.nashville.org
sites/575.library.nashville.org
sites/575t.library.nashville.org
sites/576.library.nashville.org
sites/576t.library.nashville.org
sites/577.library.nashville.org
sites/577t.library.nashville.org
sites/585.library.nashville.org
sites/585t.library.nashville.org
sites/590.library.nashville.org
sites/590t.library.nashville.org
sites/595.library.nashville.org
sites/595t.library.nashville.org
sites/600.library.nashville.org
sites/600t.library.nashville.org
sites/601.library.nashville.org
sites/601t.library.nashville.org
sites/610.library.nashville.org
sites/610t.library.nashville.org
sites/612.library.nashville.org
sites/612t.library.nashville.org
sites/613.library.nashville.org
sites/613t.library.nashville.org
sites/615.library.nashville.org
sites/615t.library.nashville.org
sites/618.library.nashville.org
sites/618t.library.nashville.org
sites/620.library.nashville.org
sites/620t.library.nashville.org
sites/632.library.nashville.org
sites/632t.library.nashville.org
sites/640.library.nashville.org
sites/640t.library.nashville.org
sites/650.library.nashville.org
sites/650t.library.nashville.org
sites/655.library.nashville.org
sites/655t.library.nashville.org
sites/670.library.nashville.org
sites/670t.library.nashville.org
sites/675.library.nashville.org
sites/675t.library.nashville.org
sites/681.library.nashville.org
sites/681t.library.nashville.org
sites/682.library.nashville.org
sites/682t.library.nashville.org
sites/685.library.nashville.org
sites/685t.library.nashville.org
sites/686.library.nashville.org
sites/686t.library.nashville.org
sites/690.library.nashville.org
sites/690t.library.nashville.org
sites/705.library.nashville.org
sites/705t.library.nashville.org
sites/710.library.nashville.org
sites/710t.library.nashville.org
sites/715.library.nashville.org
sites/715t.library.nashville.org
sites/717.library.nashville.org
sites/717t.library.nashville.org
sites/725.library.nashville.org
sites/725t.library.nashville.org
sites/730.library.nashville.org
sites/730t.library.nashville.org
sites/735.library.nashville.org
sites/735t.library.nashville.org
sites/755.library.nashville.org
sites/755t.library.nashville.org
sites/765.library.nashville.org
sites/765t.library.nashville.org
sites/770.library.nashville.org
sites/770t.library.nashville.org
sites/775.library.nashville.org
sites/775t.library.nashville.org
sites/783.library.nashville.org
sites/783t.library.nashville.org
sites/784.library.nashville.org
sites/784t.library.nashville.org
sites/787.library.nashville.org
sites/787t.library.nashville.org
sites/790.library.nashville.org
sites/790t.library.nashville.org
sites/805.library.nashville.org
sites/805t.library.nashville.org

