.searchHomeForm {
	background-color: #99980A;
	border-color: #7A1501;
}
.searchHomeContent{
	padding: 0px;
}
/* Make facets appear on the left */
.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main {
	float: right;
	margin-right: -15em;
}

.yui-t4 .yui-b {
	float: left;
}

/* Revert a few pages back */
body.Record .yui-t4 .yui-b,body.Browse .yui-t4 .yui-b {
	float: right;
}

body.Record .yui-t4 #yui-main,body.Record .yui-t5 #yui-main,body.Record .yui-t6 #yui-main {
	float: left;
	margin-right: -25em;
}

body.Browse .yui-t4 #yui-main,body.Browse .yui-t5 #yui-main,body.Browse .yui-t6 #yui-main {
	float: left;
	margin-right: -25em;
}
.searchheader{
	background-color: white;
	position: relative;
	padding: 5px 20px 0px;
	height: 110px;
	border-bottom: 0px solid black;
}
html, body{
	background-color: #212121;
}
#toptabs{
	position: absolute;
	bottom: 2px;
	left: 30px;
	color: white;
}
.toptab{
	margin: 1px;
	padding: 3px;
	font:14px Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #494a0c;
	color: #dfe5eb;
	width: 142px;
	display: inline-block;
	zoom: 1;
	*display: block;
	text-align: center;
}
.toptab a,.toptab a:visited{
	color: #E4E8C6;
}
.toptab:hover{
	background-color: #DFE5EB;
}
.toptab:hover a{
	color: #4A4A0C;
}
.toptab a:hover{
	color: #4A4A0C;
}
#searchbar{
	background-color:#C4C869;
	color: #494A0C;
}
.bookletters-widget{
	display: inline-block;
	zoom:1;
	*display: inline;
	margin: 10px;
	vertical-align: top;
}
.bookletters-title{
	color: black;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 3px;
}
.bookletters-body{
	width: 125px;
	height: 187px;
}