// Arlington Main Styling Theme

// Core variables and mixins
@import (reference)  "../../responsive/css/variables.less";
@import (reference)  "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.header-login-button-mixin(@arlington-blue);

#header-container {
  background: #FFFFFF;
}

#header-logo {
  padding-top: 0;
}

// Left/Right Arrows on browse category carousel
#browse-category-picker {
  .jcarousel-control-prev, .jcarousel-control-next {
    .box-shadow(none);
  }
  // indicator dots at bottom of browse category carousel
  .jcarousel-pagination a {
    &.active {
      background: @arlington-blue;
    }
  }
}

#more-browse-results {
  color: @arlington-blue;
}

.manifestation-format .btn{
  min-width: 100%;
}

.manifestation-actions .btn {
  background-color: lightgrey;
  border-color: darken(lightgrey, 40%);
  color: #333333;
  &:hover{
    background-color: darken(lightgrey, 20%);
    border-color: darken(lightgrey, 30%);
    color: white;
  }
}
