// Variables Customizations for Steamboat Library theme

@steamboat-lightgoldengreen: #B3B20A;
@steamboat-goldengreen: #a8a96f;
@steamboat-darkgoldengreen: #646510;

@menu-bar-background-color: @steamboat-darkgoldengreen;
@menu-bar-selected-background-color: @steamboat-lightgoldengreen;

@header-top-color: #FFFFFF; //Top color for background gradient in header
@header-middle-color: #FFFFFF; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #FFFFFF; //Bottom color for background gradient in header
@header-bottom-color: #FFFFFF; //Bottom color for background gradient in header
@header-bottom-border-color: #DFE5EB;
@footer-top-border-color: #DFE5EB;
@header-height: 130px;