// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

#header-container{
  background-image: url('/interface/themes/basalt/images/header_background.png');
}
#header-logo{
  margin-top: 20px;
}

.header-login-button-mixin(rgba(250, 148, 1, 0.5));  // best orange-ish buttons. plb 9-17-2014
//.header-button {
//  background-color: rgba(250, 148, 1, 0.5);
//}

#home-page-login {
//  background-color: @home-search-bottom-color; // match color on bottom of search page
  background-color: lighten(@home-search-bottom-color, 5%); // match color on bottom of search page

}

// custom styling of main browse category carousel
.noCarouselBrowseCategoriesMixin();

// Selected Category needs to give a highlighted appearance
.browse-category.selected {
  background-color: @selectedCategoryColor;
  background: linear-gradient(to bottom, @selectedCategoryColor, @selectedCategoryColor 82%, @categoryLineShadow 83%, @categoryLineColor 84%, @categoryLineColor 88%, @categoryLineShadow 89%, @selectedCategoryColor 90%, @selectedCategoryColor);
  font-size: @browse-category-font-size + 2;
}
