//Variables Customizations for Englewood theme
@header-top-color: #EFEFEF; //Top color for background gradient in header
@header-middle-color: #EFEFEF; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #EFEFEF; //Bottom color for background gradient in header
@header-bottom-border-color: #78ada3;
@footer-top-border-color: #78ada3;
@header-height: 134px;

@home-search-top-color: #EC5802; //Top color for background gradient in header
@home-search-bottom-color: #FEA501;

@category1MainColor: #78ada3;
@categoryLineColor: #5F7465;
@categoryLineShadow: #607261;

@selectedCategoryBorderColor: #63B200;


// set all category colors to the first color to remove lightening of successive categories. plv 9-17-2014
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@accordion-active-header-color : #78ada3;