@CHARSET "ISO-8859-1";

#loginFormWrapper{
	border-right: 0px solid black;
}
.loginField{
	width: 175px;
	text-align: right;
}

.loginLabel{
	width: 150px;
}
#loginFormWrapper{
	width: 350px;
}
.ui-autocomplete{
	font-size:10px;
}
.ui-widget-content a {
	color: #003399;
}
