/* #searchInfo{
	text-align: right;
	font-size: 12px; 
	position: absolute;
	right:0px;
} */
.selectTitle{
	display: inline-block;
	vertical-align: top;
	width: 17px;
	
	zoom: 1;
	*display: inline;
}
.imageColumn{
	display: inline-block;
	vertical-align: top;
	width: 110px;
	text-align: center;
	
	zoom: 1;
	*display: inline;
}
.imageColumn .listResultImage{
	max-width: 100px;
	padding-bottom: 4px;
}
.resultDetails{
	display: inline-block;
	vertical-align: top;
	width: 380px;
	
	zoom: 1;
	*display: inline;
}
.resultActions{
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	position: relative;
	width: 120px;
	text-align: left;
}
.resultAction{
	padding: 2px;
}
#searchResultTopTools{
	max-width: 50%;
	text-align: right;
	position: absolute;
	right: 0px;
	top: 25px;
}
.searchtool-top{
	font-size: 10px;
	display: inline-block;
	margin-top: -1px;
	zoom: 1;
	*display: inline;
}
#searchResultTopToolLinks{
	margin-top: 40px;
}

.holdingsSummary{
	min-height: 4.5em;
}
#formatCategories{
  min-height: 60px;
}

#noResultsSuggest ul {
  margin-left:20px;
  list-style-type:disc
}
#noResultsSuggest li {
  margin-left:20px;
  list-style-type:disc
}
.resultIndex{
	width: 20px;
	display:inline-block;
	zoom:1;
	*display:inline;
	font-weight: bold;
	vertical-align:top;
}
.reason{
	font-size: 11px;
	font-style: italic;
	margin-left: 15px;
	margin-top: 2px;
}