/** Loading default variables */
@import "../../responsive/css/bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "cmc_variables.less"; // Modify this for custom colors, font-sizes, etc
  /**
   * Variables for configuration, can be modified
   **/

@import "../../responsive/css/responsive_base.less";

/*@headerBackground: #B5C0E0;
@headerBackgroundHighlight:white;
@footerBackground: #B5C0E0;
@footerBackgroundHighlight:white;*/
