@import 'normalize.css';
@import 'formalize.css';

#library-footer {
  background: #949494 url('/interface/themes/dcl/images/library-footer-top.png') repeat-x left top;
}

#materialsRequestPrefilterBlock{
  text-align: center;
  margin-top: 20px;
}
#materialsRequestPrefilterHeader{
  font-size: 16px;
  font-weight: bold;
}
.materialsRequestLine{
  margin: 10px 0px;
}
#materialsRequestPrefilterUnpublished{
  font-weight: bold;
}
#materialsRequestPrefilterAssist ul li{
  list-style: disc outside ;
}
#materialsRequestPrefilterLimit{
  font-weight: bold;
  font-style: italic;
}

.advancedSearchFacetDetails{
  margin: 5px;
}
.advancedSearchFacetHeader{
  font-weight: bold;
}
.advancedSearchFacetFormatCategory{
  margin: 5px;
}

/**
 * Overrides and customization.
 */

html, body {
  height: auto;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dt, dd, li {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

h1 {
  text-shadow: #eee 0 -1px 0;
}

#sidebar h1, 
#sidebar h2, 
#sidebar h3, 
#sidebar h4, 
#sidebar h5, 
#sidebar h6 {
  color: #444;
}

p, ul, ol, dl, table, form {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

table form,
form table {
  margin-bottom: 0;
}

table td {
  vertical-align: top;
}

li li,
li .button:link {
  font-size: 1em;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #256292;
}

a.active:link,
a.active:visited,
a.active:hover,
a.active:focus,
a.active:active {
  color: inherit;
}

a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.667em; /* 32 */
  line-height: 1.125em; /* 36 */
  margin-top: 0;
  margin-bottom: .5625em; /* 18 */
}

#sidebar h1,
h2 {
  font-size: 2em; /* 24 */
  line-height: 1.125em; /* 27 */
  margin-top: 0;
  margin-bottom: .375em; /* 9 */
}

#sidebar h2,
h3 {
  font-size: 1.5em; /* 18 */
  line-height: 1em; /* 18 */
  margin-top: 0;
  margin-bottom: .5em; /* 9 */
}

#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6,
h4, h5, h6 {
  font-size: 1.167em; /* 14 */
  line-height: 1.286em; /* 18 */
  margin-top: 0;
  margin-bottom: .643em; /* 9 */
}

h5, h6 {
  color: #666;
}

input, select {
  font-size: 1em;
  line-height: 1em;
}

label {
  min-width: 0;
}

li {
  list-style-type: disc;
}

li li {
  list-style-type: square;
}

li li {
  list-style-type: circle;
}

a.active {
  font-weight: bold;
  color: inherit;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background-color: #2F6EB6; /* Blue */
  font-size: 62.5%;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  background-color: #FFF;
  /**
   * @todo Refactor as sprite.
   */
  background-image: url(../images/squiggle.png);
  background-repeat: no-repeat;
  background-position: -70px -154px;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 1.2em;
  line-height: 1.5em;
}

#inner {
  padding: 0 20px 0 10px;
}

#pageBody {
  background-color: transparent;
  border: none;
  margin: 0;
  width: auto;
}

.searchform {
  float: none;
  margin-top: 0;
  margin-right: 0;
}

#main #search {
  width: 650px;
  margin: 20px auto 20px auto;
}

#fixed-wrapper #search {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  margin: 0;
  float: left;
  width: 100%;
  opacity: .9;
}

#fixed-wrapper #search-inner {
  padding: 10px;
  float: right;
}

.intro {
  text-align: center;
}

#header #search {
  position: absolute;
  right: 0;
  top: 40px;
}

#search-type-wrapper,
#search-input-wrapper {
  float: left;
}

#search-input-wrapper label {
  font-weight: bold;
}

#searchForm {
  margin-bottom: 0;
}

#basicType {
  font-size: 1.333em;
  margin-top: 4px;
  margin-right: 10px;
}

#searchPreFilter {
  font-size: 1.333em;
  margin-top: 4px;
  margin-right: 10px;
}

#type {
  margin-top: 2px;
}

#type-label {
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3px;
  line-height: 1.444em;
  min-width: 0;
  vertical-align: top;
  margin-right: .5em;
}

#lookfor {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  float: left;
  font-size: 1.5em;
}

#submit-wrapper {
  text-align: center;
}

#lookfor-submit {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  display: block;
  font-size: 1.5em;
  float: left;
  height: 1.8em;
}

#shards {
  float: left;
  margin-top: 10px;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
}

#shards label {
  display: inline-block;
  margin-right: .667em;
}

#header {
  height: 136px;
  position: relative;
}

#header-utility-top {
  top: 10px;
  position: absolute;
  right: 0;
}

#header-utility-bottom {
  bottom: 10px;
  position: absolute;
  right: 0;
}

#logo {
  /**
   * @todo Refactor as sprite.
   */
  background-image: url(../images/anythink-logo.png);
  background-repeat: no-repeat;
  display: block;
  height: 53px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 10px;
  white-space: nowrap;
  width: 211px;
}

body.Search--Home #logo {
  /**
   * @todo Refactor as sprite.
   */
  background-image: url(../images/anythink-logo-large.png);
  height: 89px;
  width: 355px;
}

#breadcrumb {
  margin-bottom: 10px;
  position: relative;
  z-index: 10; /* This prevents issues with the cart. */
}

#main {
  background-color: #FFF;
  border-left: 1px solid #999;
  margin-left: 12px;
  padding: 20px;
  position: relative;
}

#main-wrapper {
  /**
   * @todo Refactor as sprite.
   */
  background-image: url(../images/flag-shadow.png);
  background-repeat: no-repeat;
}

#main-content {
  margin-left: 240px;
  width: auto;
  display: block;
}

body.MaterialsRequest--Submit #main-content,
body.MaterialsRequest--NewRequest #main-content,
body.MyResearch--GetCard #main-content,
body.MyResearch--EmailPin #main-content,
body.Search--Home #main-content,
body.Search--Results--0 #main-content {
  margin-left: 0;
}

body.Search--Results--0 #sidebar-wrapper {
  display: none;
}

.required {
  color: #F00;
}

#sidebar-wrapper {
  width: 220px;
  float: left;
}

#sidebar {
  display: block;
  padding: 10px;
  background-color: #E2F5F5;
  border: none;
  width: auto;
}

#sidebar h1, h2, h3, h4, h5, h6 {
}

.facet-group {
  margin-bottom: 20px;
}

#column-outer-wrapper {
  float: left;
  width: 200px;
  overflow: hidden;
}

#column-outer iframe {
  border: 0;
}

.with-column-outer #column-central {
  margin-left: 220px;
}

#flag {
  background-color: #2F6EB6;
  color: #FFF;
  text-shadow: #333 0 1px 0;
  text-transform: lowercase;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-left: 20px;
}

.sidegroup {
  border: 0;
  margin: 0;
  padding-bottom: 0;
}

.sidegroup h4 {
  padding: 0;
  color: #666;
  font-weight: bold;
  background-color: transparent;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  text-align: left;
  line-height: 1.125em;
  margin-top: .625em;
  margin-bottom: .625em;
}

.split-form {
  width: 50%;
  float: left;
}

.get-card {
  text-align: center;
}

#get-card {
  background-image: url(../images/anythink-cards.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 167px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 683px;
  margin: 20px 0;
}

.form-item {
  margin-bottom: 10px;
}

#loginButton {
  margin: inherit;
}

.toggle {
  list-style: none;
}

.facet-group {
  margin-bottom: 20px;
}

.facet-group ul {
  margin-bottom: 0;
}

.facet-toggle {
  font-weight: bold;
  margin-left: 1em;
}

.facet-group label {
  display: inline-block;
  margin-top: 3px;
}

.remove-facet {
  /**
   * @todo Refactor as sprite.
   */
  background-image: url(/images/silk/delete.png);
}

.active-facet {
  /**
   * @todo Refactor as sprite.
   */
  background-image: url(/images/silk/tick.png);
}

#active-filters-wrapper {
  background-color: #FFB;
  padding: .5em;
  margin-bottom: 20px;
}

#active-filters {
  list-style: none;
  padding: 0;
}

#active-filters,
#active-filters li {
  list-style: none;
}

#sort {
  display: inline-block;
  margin: 0 20px;
  vertical-align: baseline;
}

/**
 * @todo Refactor as sprite.
 */
.rss, .email,
.icon-book,
.icon-audiobook,
.icon-graphicnovel,
.icon-dvd,
.icon-musiccd,
.icon-delete,
.remove-facet,
.active-facet,
.loading,
.rate-this,
.write-review,
.cart-icon {
  display: inline-block;
  padding-left: 1.667em;
  background-repeat: no-repeat;
  background-position: left middle;
  line-height: 18px;
}

.email {
  background-image: url(/images/silk/email.png);
}

.rss {
  background-image: url(/images/silk/feed.png);
}

.write-review {
  background-image: url(/images/silk/edit.png);
}

.icon-graphicnovel,
.icon-book {
  background-image: url(/images/silk/book.png);
}

.icon-dvd {
  background-image: url(/images/silk/dvd.png);
}

.icon-musiccd {
  background-image: url(/images/silk/cd.png);
}

.icon-audiobook {
  background-image: url(../images/icon-audiobook.png);
}

.icon-delete {
  background-image: url(/images/silk/delete.png);
}

.cart-icon {
  background-image: url(../images/cart.png);
}

.loading {
  background-image: url(/images/loading.gif);
  line-height: 2em;
}

.keepFilters {
  color: inherit;
  display: block;
  margin-top: 0;
  padding-right: 0;
  font-size: 1em;
  font-weight: normal;
  text-shadow: none;
  vertical-align: top;
  zoom: 1;
}

#results-actions-wrapper {
  float: left;
  width: 100%;
}

#results-header {
  float: left;
  width: 100%;
  background-image: url(../images/gradient-white-gray.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}

#results-header h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: .867em;
}

#results-actions {
  float: left;
  margin-right: 1.333em;
}

#results-actions label {
  color: #666;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  margin-top: 3px;
}

#results-bottom {
  width: 100%;
  float: left;
  text-align: center;
}

#pagination-bottom {
  float: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  font-size: 1.333em;
}

#utility-links-results {
  float: left;
}

#utility-links-results li {
  margin: 0 10px;
}

#results-list {
  float: left;
  width: 100%;
}

.author,
.format {
  display: inline-block;
  margin-right: 20px;
}

#goDeeperLink {
  background-image: url(../images/explore-sprite2.png);
  background-position: -190px bottom;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  z-index: 2;
  width: 190px;
}

#goDeeperLink:hover {
  background-position: 0 bottom;
}

.details {
  margin-bottom: 10px;
}

.holdingsSummary {
  clear: none;
  display: block;
  height: auto;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

.holdingsSummary .callNumber {
  font-weight: bold;
  font-size: 1em;
}

.holdingsTable {
  width: 100%;
}

.highlight {
  font-weight: bold;
  background-color: #FFB;
}

.imageColumn {
  display: block;
  float: left;
  width: 110px;
}

div.result {
  border-bottom: 0;
  padding: 20px 0;
  background-color: #FFF;
  background-image: url(http://www.anythinklibraries.org/sites/all/themes/anythink/images/dots.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.resultDetails {
  display: block;
  width: auto;
  margin-left: 120px;
  margin-right: 145px;
}

.fine-print {
  color: #666;
  font-size: .917em;
}

.availableAtList {
  font-weight: bold;
  color: #AD1D39;
}

.listed {
  color: #AD1D39;
}

.available {
  color: #629900;
}

.read-description {
  display: block;
  line-height: 2em;
}

.read-description:hover {
  background-color: #FFB;
}

.resultActions {
  display: block;
  float: right;
  width: 125px;
}

.actions-first,
.actions-second {
  margin-bottom: 20px;
}

.actions-list,
.actions-rate,
.actions-save {
  margin-bottom: 10px;
}

.requestThisLink a:link {
  font-size: 1.167em;
  margin: 10px 0;
}

#sidebar .requestThisLink a:link {
  font-size: 1.333em;
  margin: 10px 0;
}

div.record {
  padding: 0;
}

.holdingsSummary {
/*  margin-bottom: 10px;*/
/*  margin-top: 10px;*/
}

.holdableCopiesSummary {
  font-size: inherit;
}

/**
 * Book bag.
 */
#book_bag {
  background-image: url(../images/gradient-small-2.png);
  background-repeat: repeat-x;
  background-color: #EEE;
  display: block;
  width: 320px;
  border: 1px solid #CCC;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  float: right;
  position: relative;
  z-index: 1;
  margin-right: 20px;
}

#navigate-link {
  background-image: url(../images/gradient-small-1.png);
  background-repeat: repeat-x;
  background-color: #EEE;
  background-position: left bottom;
/*  background-repeat: repeat-x;*/
/*  background-color: #DFD8DB;*/
/*  background-color: #F7F5F4;*/
/*  opacity: .7;*/
  border: 1px solid #DFD8DB;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 0;
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: .5em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.176em;
  font-weight: bold;
}

#navigate-link.processed {
  background-image: none;
  border: 0;
  border-bottom: 1px solid #DFD8DB;
}

#navigate-link:hover {
  background-image: none;
  background-color: #DFD8DB;
  text-decoration: none;
  opacity: .9;
}

#fixed-wrapper {
  max-width: 1117px;
  position: absolute;
  top: 0;
  width: 100%;
}

#fixed-wrapper.cling {
  position: fixed;
  z-index: 11;
}

body.Search--Home #fixed-wrapper {
  display: none;
}

#book_bag #bag_open_button {
  background-color: transparent;
  color: #3E3E3E; /* inherit */
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: -1px;
  padding: 0;
  width: auto;
}

#book_bag #bag_open_button .plus {
  padding: 0;
  text-align: center;
}

#book_bag #bag_open_button,
#book_bag #book_bag_canvas {
  display: block;
  position: static;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
}

#book_bag #book_bag_canvas {
  background: transparent;
  border: 0;
  width: auto;
  z-index: inherit;
  height: auto;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#book_bag_header {
  background-color: transparent;
  border-top-left-radius: 0;
  padding: 0;
  color: #3E3E3E; /* inherit */
  cursor: pointer;
  height: auto;
}

#bag_summary_header {
  font-size: 1.167em;
  display: block;
  padding: .5em;
  text-align: center;
}

#bag_summary_header:hover {
  background-color: #FF9;
  opacity: .8;
}

#bag-content {
  padding: 0 20px;
}

#bag-content-header {
  text-align: center;
}

#bag_links {
  margin-bottom: .5em;
}

#book_bag #book_bag_canvas #bag_items {
  color: #CAFF42;
  height: 150px;
  padding-bottom: 0;
  overflow: auto;
  text-align: left;
  margin: 0;
}

#book_bag #book_bag_canvas #bag_items .bag_book_title {
  font-size: inherit;
  letter-spacing: inherit;
  margin: .25em 0;
  cursor: pointer;
  margin-left: 0;
  text-indent: 0;
  width: auto;
  float: none;
}

.book-title-cart {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-right: 10px;
}

#results-facets {
  width: 100%;
  float: left;
  text-align: center;
}

#categoryValue {
  text-align: inherit;
}

#title-container {
  margin-right: 200px;
}

#record-header {
  border-bottom: 0;
  margin-bottom: 20px;
  min-height: 3em;
  padding-bottom: 0;
  position: relative;
}

#record-details-header {
  border-bottom: 0;
}

#record-title-nav-wrapper {
  right: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 180px;
  background-color: #EEE;
  border-radius: 4px;
}

#record-title-nav {
  padding: 10px;
}

#nav-buttons {
  margin-bottom: 10px;
}

.recordcover {
  padding: 0;
  background-color: transparent;
  border: 0;
  max-width: 180px;
}

#image-column {
  display: block;
  text-align: center;
  width: auto;
}

#cover {
  position: relative;
}

#tools-column {
  width: 180px;
  float: right;
}

ul.menu {
  border-right: 0;
  border-left: 0;
  background: transparent;
  display: none;
  margin-top: 0;
  height: auto;
  position: static;
}

ul.menu li {
  border-bottom: 0;
  padding: 0;
  clear: none;
  width: auto;
  text-align: inherit;
  background: transparent;
}

#record-details-column {
  display: block;
  width: auto;
  margin-right: 200px;
}

.holdingsSummaryRecord {
  display: block;
  width: auto;
}

.resultInformation {
  padding-top: 0;
  margin-bottom: 20px;
}

#recordTools {
  display: block;
}

.ui-tabs {
  float: left;
  width: 100%;
}

/**
 * jQuery UI overrides.
 */
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

table.adminTable {
  font-family: inherit;
  background-color: #CDCDCD;
  margin: 0px 0pt 15px;
  font-size: inherit;
  width: 100%;
  text-align: left;
}

table.adminTable thead tr th,
table.adminTable tfoot tr th {
  background-color: #E6EEEE;
  border: 1px solid white;
  font-size: inherit;
  font-weight: bold;
}

.holdSection {
  float: left;
  width: 100%;
}

/**
 * Utility classes.
 */

ul.inline {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin-bottom: 0;
}

ul.left {
  float: left;
}

ul.right {
  float: right;
}

ul.inline li {
  float: left;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  margin-right: .75em;
}

ul.right li {
  margin: 0 0 0 .75em;
}

.groupSearchHolder span.clearer {
  display: none;
}

.groupSearchHolder .advRow {
  margin-bottom: 10px;
  float: none;
  width: 100%;
}

.groupSearchHolder .advRow div {
  float: none;
  padding: 0;
}

.groupSearchHolder .label, .groupSearchHolder .join {
  width: auto;
  text-align: left;
}

.groupSearchHolder .label {
  display: none;
}

.groupSearchHolder .field,
.groupSearchHolder .terms {
  display: inline-block;
  margin-right: 10px;
}

#searchHolder .group0,
#searchHolder .group1 {
  background-image: none;
}

.advanced-search-group,
#searchHolder .group {
  margin-bottom: 10px;
  border: 2px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
}

.addSearch {
  padding: 0;
}

.group .groupSearchDetails {
  float: none;
  text-align: inherit;
  padding: 0;
}

.group0 .groupSearchDetails,
.group1 .groupSearchDetails {
  border: 0;
}

.groupSearchDetails .join {
  padding-right: 0;
  float: none;
}

.searchGroups .searchGroupDetails {
  float: none;
}

.advanced-search-button {
  font-size: 1.4em;
  margin: 20px 0;
}

.advancedSearchFacetDetails {
  float: left;
  display: block;
  margin-right: 20px;
}

fieldset {
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
}

div.popupBox {
  font-size: 100%;
}

.favorites-container {
  width: 100%;
  float: left;
}

.anythink-collapsed {
  height: 0;
  overflow: hidden;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.anythink-collapsed div,
.anythink-collapsed fieldset {
  display: none;
}

.anythink-collapsible-label {
  color: #256292;
  padding-left: 20px;
  background-image: url(../images/arrows.gif);
  background-repeat: no-repeat;
  background-position: 4px -15px;
  cursor: pointer;
}
.anythink-collapsed .anythink-collapsible-label {
  background-position: 4px 4px;
}

.result-selector {
  float: left;
  margin-right: .5em;
  margin-top: .8em;
}

.list-actions {
  margin: 20px 0;
}

.titleScrollerWrapper {
  border: 1px solid #CCC;
  border-top: 1px solid #CCC;
  margin-bottom: 15px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.titleScrollerBody {
  background-color: inherit;
}

.scrollerBodyContainer {
  height: 170px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.leftScrollerButton {
  display: block;
  height: 36px;
  width: 35px;
  float: none;
  cursor: pointer;
  background-image: url(../images/scroller-arrows.png);
  background-repeat: no-repeat;
  background-position: -36px 0;
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 170px;
}

.rightScrollerButton {
  display: block;
  height: 36px;
  width: 35px;
  position: absolute;
  cursor: pointer;
  background-image: url(../images/scroller-arrows.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 10;
  right: 20px;
  top: 170px;
}

.rightScrollerButton:hover,
.leftScrollerButton:hover {
  opacity: .8;
}

.titleScrollerSelectedTitle {
  font-weight: normal;
  color: #3E3E3E; /* inherit */
  font-size: 2em; /* 24 */
  line-height: 1.125em; /* 27 */
  margin-top: 0;
  margin-bottom: .375em; /* 9 */
  padding: 0 70px;
  text-align: center;
  width: auto;
}

.titleScrollerSelectedAuthor {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #3E3E3E; /* inherit */
  margin-bottom: 10px;
}

#tooltip.descriptionTooltip {
  font-family: inherit;
  border: none;
  width: 300px;
  padding: 0px;
  height: auto;
  opacity: 1;
  background: white;
  border: 1px solid #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px #888;
  -moz-box-shadow: 0 1px 5px #888;
  position: absolute;
}

#tooltip .body {
  padding: 10px;
}

#tooltip.descriptionTooltip h3 {
  font-size: 1.5em; /* 18 */
  line-height: 1em; /* 18 */
  margin-top: 0;
  margin-bottom: .5em; /* 9 */
  margin-bottom: 0;
  text-align: inherit;
  background: inherit;
  color: #3E3E3E; /* inherit */
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#tooltip div.description-element {
  padding: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.description-element-label{
  font-weight: bold; 
  display: inline-block;
  padding-right: 4px;
  
  zoom: 1;
  *display: inline;
}

.scrollerTitle.selected {
  border: 1px solid #256292;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
}

.scrollerTitle {
  line-height: .1em;
}

.scrollerTitleCover {
  padding: 5px;
}

.scrollerBody {
  height: auto;
}

.titleScrollerHeader {
  background: transparent;
  padding: 10px;
  color: #3E3E3E; /* inherit */
  font-size: inherit;
  font-weight: normal;
  height: auto;
}

.resultInformationLabel {
  color: #3E3E3E; /* inherit */
  font-size: inherit;
  font-weight: bold;
  padding-bottom: 0;
}

.listTitle {
  font-weight: bold;
}

.list-edit,
.listTitle {
  display: inline-block;
  width: 49.5%;
}

.list-edit {
  text-align: right;
}

div.popupBox .header,
div.popupBox .content {
  padding: 20px;
}

div.popupBox .header {
  cursor: move;
  background-color: #EEE;
  color: #3E3E3E; /* inherit */
  font-size: 1.167em;
  font-weight: bold;
  height: auto;
  position: relative;
}

div.popupBox {
  background-color: white;
  display: none;
  border-color: #000;
  border-style: solid;
  border-width: 10px;
  box-shadow: none;
  position: absolute;
  z-index: 1000;
  left: auto;
  font-size: 1em;
  min-width: 300px;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0.25s;
}

div.popupBox .header a {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: inherit;
}

#results-actions form {
  margin-bottom: 0;
}

#goDeeperContent {
  position: static;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  padding: 10px;
}

#goDeeperLinks {
  width: auto;
  border-right: 0;
  text-align: inherit;
  position: static;
  left: auto;
  bottom: auto;
  top: auto;
  float: left;
  width: 200px;
}

#goDeeperOutput {
  position: static;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  text-align: inherit;
  overflow: auto;
}

.holdSectionTitle {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #3E3E3E; /* inherit */
  font-weight: bold;
  margin-top: 0;
  padding: 10px;
  text-align: inherit;
  background-color: transparent;
}

.myAccountTable {
  border: 1px solid #949494;
  border-radius: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
}

table.tablesorter {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0 0 20px 0;
  text-align: left;
  width: 100%;
}

#lightbox {
  opacity: .7;
}

div.popupBox ul {
  list-style: disc;
  padding: 0 0 0 2em;
  margin: 1em 0;
}

div.popupBox ul li {
  border-bottom: none;
  padding: 0;
}

div.popupBox ul li a {
  color: #256292;
  text-decoration: none;
}

.image-identifier {
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 120px;
}

.desc-identifier {
  margin-left: 140px;
}

#suggestedIdentifiers {
  border: 2px solid #CCC;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.survey-container {
  font-size: 1.2em;
  position: relative;
}

#survey-link {
  color: #333;
}

.survey-faux-wrapper {
  background-color: #000;
  opacity: .5;
  height: 124px;
  width: 212px;
}

.survey {
  background-color: #fff;
  background-image: url(http://www.anythinklibraries.org/sites/all/modules/custom/anythink_survey/squiggle-test.png);
  width: 200px;
  height: 100px;
  text-align: center;
}

.survey-container .survey {
  position: absolute;
  top: 12px;
  left: 12px;
}

.survey-inner {
  padding: 1.5em 1em 0 1em;
}

#survey-close {
  position: absolute;
  top: .35em;
  right: .35em;
  font-size: .75em;
  line-height: 1.333em;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  color: #333;
}

#survey-close .x {
  background-color: #666;
  color: #FEF2E5;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  padding: .2em;
  text-align: center;
  line-height: .5em;
  font-size: 1.5em;
}

#survey-close .text {
  display: none;
}

#survey-close:hover .text {
  display: inline-block;
}

.worldcat-details td {
  padding-right: 1em;
}

.worldcat-details p {
  margin: 0;
  padding: 0;
}

.ui-autocomplete {
  z-index: 10;
}

.ui-autocomplete li {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

input.yearbox {
  width: auto;
}
