#header,
#sidebar-wrapper,
.resultActions,
#listTopButtons,
#breadcrumb,
#flag,
#fixed-wrapper,
.button,
.button:link,
.button:visited,
.button:hover,
.button:active,
.button:focus,
button,
input,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  display: none;
}

#main-content {
  margin-left: 0;
}

#main {
  border-left: 0;
  margin-left: 0;
}

h1 {
  font-size: 1.8em;
  margin: 0;
  line-height: 1.11em;
  text-shadow: none;
}

h2 {
  font-size: 1.2em;
  line-height: 1.25em;
  margin: 0;
}

h3 {
  font-size: 1em;
  line-height: inherit;
  margin: 0;
}

.resultDetails {
  margin-right: 0;
}

div.result {
  border-bottom: 1px solid #000;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active,
body,
.available,
.listed,
.fine-print,
.availableAtList {
  color: #000;
}
