@charset "utf-8";
/* CSS Document */


/*font styles*/
h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	line-height:1.5em;
	color:#5D0022;
	margin-top:0;
}
h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	line-height:1.5em;
	color:#6D5E51;
}
h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	line-height:1.5em;
	color:#8C7F70;
}
h4 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:1.5em;
	color:#8C7F70;
}
h5 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	line-height:1.5em;
	color:#8C7F70;
}
h5 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:1.5em;
	color:#8C7F70;
}



/*misc classes*/
.clearit {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
.img_left {
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}
.img_right {
	float:right;
	padding-left:10px;
	padding-bottom:10px;
}
.cell_bg_maroon {
	background-color:#660033;
	color:#FFFFFF;
}
.cell_bg_tan {
	background-color:#E1D5BC;
	color:#000000;
}
.photo_caption {
	font-size:9px;
}

	