/*
@category1MainColor: @vail_dark_blue;
@categoryLineColor: @vail_logo_green;
@categoryLineShadow: darken(@vail_logo_green,20%);

//@selectedCategoryBorderColor: #63B200;
@selectedCategoryBorderColor: @categoryLineColor; // makes outline more subtle

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: lighten(@category1MainColor, 14%); //softer touch

// set all browse category colors to the first color to remove lightening of successive categories. plv 9-17-2014
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;*/
