@CHARSET "ISO-8859-1";

/* Local overrides of css */
#book_bag #bag_open_button {
	background-image: url(/interface/themes/dcl/images/bookbag-expand.png);
	background-repeat: no-repeat;
	background-position: 7px 7px;
}

#book_bag_header {
	background-image: url(/interface/themes/dcl/images/bookbag-expand.png );
	background-repeat: no-repeat;
}

#library-footer {
	background: #949494 url('/interface/themes/dcl/images/library-footer-top.png') repeat-x left top;
}

#similarTitlesSidegroup{
	display: none;
}

#searchbar {
	background-image: url(/interface/themes/dcl/images/searchbar-gradient.png);
	background-repeat: repeat-x;
}
#searchbar #lookfor {
	width: 275px;
}
#sidebar-wrapper{
	border-right: 1px solid #5D8EAC;
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
	width: 200px;
}

.sidegroup {
	border: 1px solid #949494;
	margin: 0 0 20px 0;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding-bottom: 10px;
}
.sidegroup h4 {
	padding: .5em 0 .5em 0;
	color: white;
	font-weight: bold;
	background-color: #e58e29;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
	text-align: center;
	margin-top: 0px;
}

#titleDetailsSidegroup h4{
	background-color: #E58E29;
}

#tagsSidegroup h4{
	background-color: #011751;
}
#similarTitlesSidegroup h4{
	background-color: #011751;
}
#similarAuthorsSidegroup h4{
	background-color: #011751;
}
#otherEditionsSidegroup h4{
	background-color: #011751;
}

#materialsRequestPrefilterBlock{
	text-align: center;
	margin-top: 20px;
}
#materialsRequestPrefilterHeader{
	font-size: 16px;
	font-weight: bold;
	color: #273791;
}
.materialsRequestLine{
	margin: 10px 0px;
}
#materialsRequestPrefilterUnpublished{
	font-weight: bold;
}
#materialsRequestPrefilterAssist ul li{
	list-style: disc outside ;
}
#materialsRequestPrefilterLimit{
	font-weight: bold;
	font-style: italic;
}
.searchcontent img.alignleft{
margin: 10px 0 15px 80px;
}
.searchform #searchForm {
margin: 25px 100px 0 0;
}
