#catalogHome{
	padding: 50px;
}

/* Popup Box - see the end of consolidated.min.css - had to put styles there so that Firefox would see them on Mac */

/* heading on Lists pages */
#listTitle {color: #292929; font-weight: normal; font-size: 20px;margin:0;}
.silk.list {background-position: -989px 0;width: 16px;height: 16px;display: none;}

/* --- Button Styles --- */

.button, .button:link, .button:visited, .button:hover, .button:active, .button:focus, button, input[type="reset"], input[type="submit"], input[type="button"] {
text-decoration: none;
-webkit-appearance: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-background-clip: padding;
-moz-background-clip: padding;
-ms-background-clip: padding-box;
-o-background-clip: padding-box;
background-clip: padding-box;
background: #ddd url('../images/button.png?1298351022') repeat-x;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
background-image: -webkit-linear-gradient(#ffffff, #dddddd);
background-image: -moz-linear-gradient(#ffffff, #dddddd);
background-image: -o-linear-gradient(#ffffff, #dddddd);
background-image: -ms-linear-gradient(#ffffff, #dddddd);
background-image: linear-gradient(#ffffff, #dddddd);
border: 1px solid;
border-color: #ddd #bbbbbb #999;
cursor: pointer;
display: inline-block;
font-weight: bold;
font-size: 1em;
line-height: 1.5em;
font-family: inherit;
height: auto;
outline: 0;
overflow: visible;
margin: 0 0 0 2px;
padding: 3px 12px;
/* text-shadow: white 0 1px 1px; */ 
vertical-align: baseline;
width: auto;
}

#placeHoldButton .button, .button:link, .button:visited, .button:hover, .button:active, .button:focus, button {
text-decoration: none;
-webkit-appearance: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-background-clip: padding;
-moz-background-clip: padding;
-ms-background-clip: padding-box;
-o-background-clip: padding-box;
background-clip: padding-box;
background-image: linear-gradient(#ffffff, #dddddd);
border: 1px solid;
border-color: #ddd #bbbbbb #999;
cursor: pointer;
display: inline-block;
font-weight: bold;
font-size: 1em;
line-height: 1.5em;
font-family: inherit;
height: auto;
outline: 0;
overflow: visible;
margin: 0 0 0 2px;
padding: 3px 12px;
/* text-shadow: white 0 1px 1px; */
vertical-align: baseline;
width: auto;
} 

/* Results List Buttons */
.resultAction, .resultAction:hover{padding:2px 2px 2px 4px;margin: 3px 0 3px 0;}
.silk {margin-left: 0px;}

/* Similar Titles Buttons */
.ui-widget-content a {color: #132248;}

/* Place Hold - pick up page */
.note {font-size: inheret;font-style: normal;color: #191919;}
.loginLabel {font-size:14px;font-weight:bold;}

/* My Account Grids */
.myAccountTable {border: 0px solid #ccc;border-radius: 6px;border-collapse: collapse;margin-top: 4px;margin-bottom: 4px;width: 100%;}
.myAccountTitle {margin-bottom: 8px;}
.myAccountTable thead {border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;text-align: center;vertical-align: bottom;background-color: #eee;}
.myAccountTable td, .myAccountTable th {border-bottom: 1px solid #949494;border-top: 0px;border-right: 0px;border-left: 0px}
.myAccountTable th {text-align: left;font-size: 16px;font-weight: 500;}
.myAccountTitleDetails {vertical-align: top;display: inline;zoom: 1;}
.dueSoonLabel {display:block;}
.myAccountCell .imageColumn {display: inline;vertical-align: top;width: 110px;text-align: center;zoom: 1;float: left;}
.myAccountCell .imageColumnOverdrive {display: inline;vertical-align: top;width: 90px;text-align: center;zoom: 1;float: left;}
.myAccountCell .imageColumnOverdrive .listResultImage{max-width: 80px;padding-bottom: 4px;text-align:center;float:left;}
.titleDetailsOverdrive {vertical-align: top;}
.myAccountOverDriveTitleDetails {vertical-align: top;display:inline;zoom:1}
.myAccountTable td, .myAccountTable th {padding: 5px 3px;}
.myAccountTable th {text-align: left;font-size: 16px;font-weight: 500;}
table.datagrid th {color: #010101;background-color: #eee;text-align: left;border-bottom: 1px solid #949494;border-top: 1px solid #ccc;border-right: 0px;border-left: 0px;vertical-align: bottom;}
table.datagrid tbody {border: 1px solid #949494;border-radius: 6px;border-collapse: collapse;margin-top: 4px;margin-bottom: 4px;width: 100%;}
table.datagrid th a {color: #010101;text-align: left;font-size: 16px;font-weight: 500;}
.holdSectionBody {padding: 0px;}
.myAccountPagination {display: block;zoom: 1;}
#readingListWhatsThis {color: #0066cc;display: inline-block;cursor: pointer;font-size: 12px;}
.page {padding: 0;min-height: 20em;}
.myAccountPagination ul {margin: 0;}
.myAccountPagination.pagination {font-size: 120%;padding: 1em 0 1em 0;margin: 1em 0;text-align: center;}
.resulthead {padding: 0 10px 0 0;margin-bottom: .5em;border-bottom: 1px #eee solid;}

/* List Buttons */
.listButton{background-color:#88ABC2;color:#132248;border-color:lightgrey DarkSlateGray DarkSlateGray lightgrey;border-style:solid;border-width:1px;font-size:12px;font-family:Verdana,Helvetica,arial,sans-serif;display:inline-block;height:inherit;line-height:18px;margin-left:10px;margin-top:4px;padding:3px 12px}.listButton:hover{background-color:#B2CBDC;border-color:DarkSlateGray lightgrey lightgrey DarkSlateGray}.listButton
a{color:#132248}#listTopButtons{margin-bottom:5px}

/* --- Book Bag Canvas --- */
#book_bag
 #book_bag_canvas {
display: none;
opacity: 0.97;
position: fixed;
top: 34px;
left: 515px;
background-color: #DDE;
border: none;
width: 348px;
z-index: 20000;
padding: 10px;
height: 290px;
border: 1px
 solid #BBC;
border-top: 0px solid #BBC;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;
filter: alpha(opacity = 97);
box-shadow: 2px 2px 4px #888;
}

/* tabs in header */

.tabs-container {
margin: 0 auto;
padding: 0 10px;
max-width: 960px;
}
.headerTabs {position:absolute;margin-top:86px;text-align:right;width:99%;}

.headerTabs ul {
	margin:0;
	padding:0;
	display: block;}
.headerTabs ul li a {
	display: block;
	float: right;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-radius: 2px 2px 0 0;
	padding: 8px 15px;
	margin-right: 10px;
	color: #0066cc;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #e2e3ed}
.headerTabs li{display:inline;}
.headerTabs ul li a:hover {
	background-color: #fff;
	color: #0066cc;}



/* styles */

#homePageLists{
	width: 100%;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#homeLoginForm{
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	width: 200px;
	zoom: 1;
	*display: inline;
}

#loginTitleHome{
	font-weight: bold;
	font-size: 14px;
	color: #256292;
	padding-bottom: 5px;
}
#loginButtonHome{
	display: block;
	margin: 8px 5px;
}
.loginLabelHome{
	padding-top: 5px;
}
.loginFormInput{
	width: 180px;
}


#catalogHome .sidegroup{
	width: 200px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
#catalogHome .sidegroup h4{
	background-color: #011753;
}

#list-series.titleScroller{
	border: 1px solid #949494;
}

.titleScrollerHeader{
	background:url(/interface/themes/default/images/breadcrumb-gradient.png) repeat-x top left;
	padding: 2px;
	color: #00125E;
	font-size: 12px;
	font-weight: bold;
	height: 15px;
}
.titleScrollerHeader .linkTab
{
	padding-right: 10px;
	float: left;
}
.titleScrollerHeader .linkTab .first
{
	padding-right: 0;
}

#listSelection{
	border: none;
	background: none;
	color: #00125E;
}

.titleScrollerBody{
	background-color: white;
	clear: both;
	position: relative;
}

.leftScrollerButton{
	display: inline-block;
	height: 50px;
	width: 25px;
	float: left;
	cursor: pointer;
	margin-left: 5px;
	margin-top: 50px;
	/*background:url(/interface/themes/default/images/scroll-left.png) no-repeat left center;*/
	zoom: 1;
	*display: inline;
}

.rightScrollerButton{
	display: inline-block;
	height: 50px;
	width: 25px;
	float: right;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 50px;
	/*background:url(/interface/themes/default/images/scroll-right.png) no-repeat left center;*/
	z-index: 100;
	zoom: 1;
	*display: inline;
}
.titleScrollerSelectedTitle{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #00125E;
}
.titleScrollerSelectedAuthor{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #A9A9A9;
}
.scrollerBodyContainer{
	position: relative;
	overflow: hidden;
	margin: 5px 40px;
}
.scrollerBody{
	padding: 7px;
	margin: 0 7px;
	height: 140px;
	position: relative;
}
.scrollerWithRatings .scrollerBody{
	height: 155px;
}
.scrollerLoadingContainer{
	width: 100%;
	padding-top: 40px;
	text-align: center;
}
.scrollerTitle{
	display: inline-block;
	margin: 2px;
	vertical-align:middle;
	padding: 3px;
	max-width: 129px;
	zoom: 1;
	*display: inline;
}
.scrollerTitleCover{
	max-width: 125px;
	max-height: 125px;
	padding: 3px;
}
.scrollerTitle img{
	opacity: .6;
}
.scrollerTitle:hover img{
	opacity: .8;
}
.scrollerTitle.selected{
	border: 3px solid #00125E;
	border-radius: 3px;
	padding: 0;
}
.scrollerTitle.selected img{
	opacity: 1;
}
.listWidgetSelector{
	width: 100%;
	text-align: right;
}

.singleTitleWidget {
	width: 200px;
}
.singleTitleWidget .scrollerTitle img{
	display: inline-block;
	opacity: 1;
}
.singleTitleWidget .scrollerTitle.selected img{
	display: inline-block;
}
.singleTitleWidget .scrollerTitle.selected{
	border: 0 solid black;
	border-radius: 3px;
	padding: 0;
}
.singleTitleWidget .scrollerBodyContainer{
	margin: 5px 0;
	text-align: center;
	width: 100%;
}

.verticalTitleScroller {
	width: 150px;
	height: 100%;
}
.verticalTitleScroller .titleScrollerBody{
	position: relative;
	overflow: hidden;
}
.verticalTitleScroller .scrollerTitle{
	display: block;
}
.verticalTitleScroller .scrollerBodyContainer{
	margin: 5px;
	text-align: center;
}
.scrollerButtonUp{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 148px;
	cursor: pointer;
	text-align: center;
}

.scrollerButtonDown{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25px;
	width: 148px;
	cursor: pointer;
	z-index: 100;
	text-align: center;
}

.singleTitleWithNextWidget{
	width: 200px;
}

.singleTitleWithNextWidget .scrollerTitle img{
	display: inline-block;
	opacity: 1;
}
.singleTitleWithNextWidget .scrollerTitle.selected img{
	display: inline-block;
}
.singleTitleWithNextWidget .scrollerTitle.selected{
	border: 0 solid black;
	border-radius: 3px;
	padding: 0;
}
.singleTitleWithNextWidget .scrollerBodyContainer{
	margin: 5px 0;
	text-align: center;
	width: 100%;
}
.singleTitleWithNextWidget .rightScrollerButton{
	float: none;
	position: absolute;
	right: 5px;
}
.mediumScroller.singleTitleWithNextWidget, .mediumScroller.singleTitleWidget{
	width: 275px;
}
.mediumScroller.verticalTitleScroller{
	width: 225px;
}
.mediumScroller .scrollerTitleCover{
	max-height: 200px;
	max-width: 200px;
}
.mediumScroller .scrollerTitle{
	max-width: 204px;
}
.mediumScroller .scrollerBody{
	height: 215px;
}
.mediumScroller.scrollerWithRatings .scrollerBody{
	height: 230px;
}
.mediumScroller .leftScrollerButton, .mediumScroller .rightScrollerButton{
	margin-top: 85px;
}
.mediumScroller .scrollerButtonUp, .mediumScroller .scrollerButtonDown{
	width: 223px;
}

/* Recommended for you - before rating */
#recommendationsLoginSignupBox {width:100%;height:60px;border-top:1px solid #F8F8F8;border-bottom:1px solid #f8f8f8;background-color:#eee;}
#recommendationsLoginSignupBox .sectionContainer {width:50%;text-align:center;float:left;}
#recommendationsLoginSignupBox .sectionContainer a {font-size:20px;}
img.recommendationsStarsDemo {display:block;margin:0 auto; padding: 20px 0 35px 0; width:226px;}
#recommendationsBulletPoints {}
ul.showbullets li {list-style:disc;font-size:15px;line-height:25px;}