html, body{
	background-color: #F0F0F0;
}
.searchHomeForm {
	background-color: #C5112A;
	border-color: #9D1F35;
}

/*
.searchheader{
	background-color: #08223E;
	background: url('/interface/themes/western/images/top_logo.jpg') no-repeat scroll left top transparent;
	color: white;
	width: 960px;
	margin: 0px auto;
}

.searchheader a, .searchheader a:visited{
	color: white;
}
.searchheader a:hover{
	color: #C59019;
}
*/