/**
@home-search-top-color: #146B0A; //Top color for background gradient in header
@home-search-bottom-color: #45820D; //Bottom color for background gradient in header
@categoryLineShadow: #B4E589;
@categoryLineColor: #2F780C;
@category1MainColor: #367815;
@category2MainColor: #3C781F;
@category3MainColor: #437828;
@category4MainColor: #2ca7db;
@category5MainColor: #37aadb;
@category6MainColor: #4db1db;
@category7MainColor: #5fb7db;
@category8MainColor: #83c1db;
@category9MainColor: #99c8db;
*/