//Variables Customizations for Englewood theme
@header-height: 105px;
@header-top-color: white; //Top color for background gradient in header
@header-middle-color: white; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: white; //Bottom color for background gradient in header
@header-bottom-border-color: #45820D;
@footer-top-border-color: #45820D;
@library-display-name-color: #45820D; //#706E6D;