// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.facetTitle{
  background: #f8f8f8;
}

.facetTitle:hover{
  background-color: #df3737;
  background: -moz-linear-gradient(left center , darken(#d81f3c, 15%) 0%,#df3737 100%);
  color: #fff;
  text-shadow: none;
}

.header-login-button-mixin;

//// testing new ratings
//.ui-rater-starsOff, .ui-rater-starsOn {
//  display:inline-block; height:18px; background:url(/interface/themes/default/images/star/stars_new.png) repeat-x 0 0px;
//  zoom: 1;
//  *display: inline;
//}

//.ui-rater-starsHover {
//  background-position: 0 -54px!important;
//}