// Core variables and mixins
@import "../../responsive/css/variables.less";
@import "variables";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

.facetTitle{
  background: #f8f8f8;
}

.facetTitle:hover{
  background-color: #df3737;
  background: -moz-linear-gradient(left center , darken(#d81f3c, 15%) 0%,#df3737 100%);
  color: white;
  text-shadow: none;
}

.header-button{
  border-radius:  0.5em;
  background-color: rgba(51,51,51,0.6);
  margin-top: 20px;
  height: 60px !important;
  border: 0px;
}
.header-button > a{
  color: white !important;
  line-height: 60px !important;
  text-shadow: none;
}
.header-button > a:visited{
  color: white !important;
}
.header-button:hover{
  border-bottom: 0px;
  box-shadow: 2px 2px 5px white;
}