.reportFilter{
	display: inline-block;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 4px;
	padding: 4px;
}
.filterLabel{
	font-size: +1;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 3px;
}
.reportContainer{
	width: 280px;
	border: 1px solid gray;
	border-radius: 3px;
	height: 280px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	text-align: center;
	float: left;
	overflow: auto;
}
.reportContainer2{
	width: 560px;
	border: 1px solid gray;
	border-radius: 3px;
	height: 280px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	text-align: center;
	float: left;
	overflow: auto;
}
.dashboardChart{
	width: 260px;
	height: 260px;
}
.reportOrderedList{
	text-align: left;
	height: 80%;
	overflow: auto;
}
.reportOrderedList li{
	list-style-type: decimal;
	list-style-position: outside;
}
